// pairs with JS-Tutorial module

.js-tutorial-viewport {
    position: absolute;
    box-sizing: content-box;
    z-index: 9999999;
    box-shadow: 0 0 0 px2em(99999) rgba($color-black, 0.8);
    border: px2em(3) solid gold;
    border-radius: px2em(3);
    margin-left: px2em(-3);
    margin-top: px2em(-3);
}

.js-tutorial-message {
    position: fixed;
    bottom: .8em;
    right: .8em;
    max-width: px2em(600);
    background-color: $color-white;
    padding: .5em 1em;
    border-radius: px2em(3);
    border: px2em(3) solid gold;
    box-shadow: 0 0 px2em(3) $color-black inset;
    z-index: 99999999;
    
    .js-tutorial-cancel {
        position: absolute;
        top: px2em(-8);
        right: px2em(-8);
        color: $color-red-900;
        
        &:before {
            content: "\e061";
            width:0;
            height:0;
            color:#FFF;
            margin-right:-1em;
        }
    }
}

.js-tutorial-obscure {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999998;
    background-color: $color-black;
    opacity: 0.01;
}