@import "../sass/colors.scss";

$px: (1em / 16);
$header-height: 3em;
$menu-width: 150px;

body {
    padding: 0;
    margin: 0;
}

#main-page-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $header-height;
    background-color: $color-indigo-900;
    color: $color-white;
    
    h1 {
        line-height: 1.5em;
    }
    
    .main-page-header-links {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        list-style: none;
        
        .main-page-link-item {
            cursor: pointer;
            padding: .2em .4em;
            border: $px solid transparent;
            border-radius: 2 * $px;
            display: inline-block;
            margin-right: .5em;
            margin-top: .6em;
            
            &:hover {
                border-color: $color-white;
                box-shadow: (2 * $px) (2 * $px) ($px) rgba($color-black, 0.2); 
            }
        }
    }
}

.main-page-link-list {
    position: fixed;
    left: 0;
    top: $header-height;
    bottom: 0;
    background-color: $color-indigo-300;
    padding: 0;
    margin: 0;
    width: $menu-width;
    max-width: $menu-width;
    list-style: none;
    
    .main-page-link-item {
        cursor: pointer;
        padding: .2em .4em;
        
        &:hover {
            background-color: $color-indigo-100;
        } 
    }
}

#main-page-content-area {
    position: fixed;
    top: $header-height;
    left: $menu-width;
    right: 0;
    bottom: 0;
    padding: .2em .4em;
    height: calc(100% - $header-height);
    overflow: auto;
}