@mixin make-icon($selector, $content) {
    &#{$selector}:after {
        content: unquote('"\\#{$content}"');
    }
}

@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  src: url("./font/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("./font/MaterialIcons-Regular.woff2") format('woff2'),
       url("./font/MaterialIcons-Regular.woff") format('woff'),
       url("./font/MaterialIcons-Regular.ttf") format('truetype');
}

i, .icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;   

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

@include make-icon(".rotate-3d", "e84d");
@include make-icon(".ac-unit", "eb3b");
@include make-icon(".access-alarm", "e190");
@include make-icon(".access-alarms", "e191");
@include make-icon(".access-time", "e192");
@include make-icon(".accessibility", "e84e");
@include make-icon(".accessible", "e914");
@include make-icon(".account-balance", "e84f");
@include make-icon(".account-balance-wallet", "e850");
@include make-icon(".account-box", "e851");
@include make-icon(".account-circle", "e853");
@include make-icon(".adb", "e60e");
@include make-icon(".add", "e145");
@include make-icon(".add-a-photo", "e439");
@include make-icon(".add-alarm", "e193");
@include make-icon(".add-alert", "e003");
@include make-icon(".add-box", "e146");
@include make-icon(".add-circle", "e147");
@include make-icon(".add-circle-outline", "e148");
@include make-icon(".add-location", "e567");
@include make-icon(".add-shopping-cart", "e854");
@include make-icon(".add-to-photos", "e39d");
@include make-icon(".add-to-queue", "e05c");
@include make-icon(".adjust", "e39e");
@include make-icon(".airline-seat-flat", "e630");
@include make-icon(".airline-seat-flat-angled", "e631");
@include make-icon(".airline-seat-individual-suite", "e632");
@include make-icon(".airline-seat-legroom-extra", "e633");
@include make-icon(".airline-seat-legroom-normal", "e634");
@include make-icon(".airline-seat-legroom-reduced", "e635");
@include make-icon(".airline-seat-recline-extra", "e636");
@include make-icon(".airline-seat-recline-normal", "e637");
@include make-icon(".airplanemode-active", "e195");
@include make-icon(".airplanemode-inactive", "e194");
@include make-icon(".airplay", "e055");
@include make-icon(".airport-shuttle", "eb3c");
@include make-icon(".alarm", "e855");
@include make-icon(".alarm-add", "e856");
@include make-icon(".alarm-off", "e857");
@include make-icon(".alarm-on", "e858");
@include make-icon(".album", "e019");
@include make-icon(".all-inclusive", "eb3d");
@include make-icon(".all-out", "e90b");
@include make-icon(".android", "e859");
@include make-icon(".announcement", "e85a");
@include make-icon(".apps", "e5c3");
@include make-icon(".archive", "e149");
@include make-icon(".arrow-back", "e5c4");
@include make-icon(".arrow-downward", "e5db");
@include make-icon(".arrow-drop-down", "e5c5");
@include make-icon(".arrow-drop-down-circle", "e5c6");
@include make-icon(".arrow-drop-up", "e5c7");
@include make-icon(".arrow-forward", "e5c8");
@include make-icon(".arrow-upward", "e5d8");
@include make-icon(".art-track", "e060");
@include make-icon(".aspect-ratio", "e85b");
@include make-icon(".assessment", "e85c");
@include make-icon(".assignment", "e85d");
@include make-icon(".assignment-ind", "e85e");
@include make-icon(".assignment-late", "e85f");
@include make-icon(".assignment-return", "e860");
@include make-icon(".assignment-returned", "e861");
@include make-icon(".assignment-turned-in", "e862");
@include make-icon(".assistant", "e39f");
@include make-icon(".assistant-photo", "e3a0");
@include make-icon(".attach-file", "e226");
@include make-icon(".attach-money", "e227");
@include make-icon(".attachment", "e2bc");
@include make-icon(".audiotrack", "e3a1");
@include make-icon(".autorenew", "e863");
@include make-icon(".av-timer", "e01b");
@include make-icon(".backspace", "e14a");
@include make-icon(".backup", "e864");
@include make-icon(".battery-alert", "e19c");
@include make-icon(".battery-charging-full", "e1a3");
@include make-icon(".battery-full", "e1a4");
@include make-icon(".battery-std", "e1a5");
@include make-icon(".battery-unknown", "e1a6");
@include make-icon(".beach-access", "eb3e");
@include make-icon(".beenhere", "e52d");
@include make-icon(".block", "e14b");
@include make-icon(".bluetooth", "e1a7");
@include make-icon(".bluetooth-audio", "e60f");
@include make-icon(".bluetooth-connected", "e1a8");
@include make-icon(".bluetooth-disabled", "e1a9");
@include make-icon(".bluetooth-searching", "e1aa");
@include make-icon(".blur-circular", "e3a2");
@include make-icon(".blur-linear", "e3a3");
@include make-icon(".blur-off", "e3a4");
@include make-icon(".blur-on", "e3a5");
@include make-icon(".book", "e865");
@include make-icon(".bookmark", "e866");
@include make-icon(".bookmark-border", "e867");
@include make-icon(".border-all", "e228");
@include make-icon(".border-bottom", "e229");
@include make-icon(".border-clear", "e22a");
@include make-icon(".border-color", "e22b");
@include make-icon(".border-horizontal", "e22c");
@include make-icon(".border-inner", "e22d");
@include make-icon(".border-left", "e22e");
@include make-icon(".border-outer", "e22f");
@include make-icon(".border-right", "e230");
@include make-icon(".border-style", "e231");
@include make-icon(".border-top", "e232");
@include make-icon(".border-vertical", "e233");
@include make-icon(".branding-watermark", "e06b");
@include make-icon(".brightness-1", "e3a6");
@include make-icon(".brightness-2", "e3a7");
@include make-icon(".brightness-3", "e3a8");
@include make-icon(".brightness-4", "e3a9");
@include make-icon(".brightness-5", "e3aa");
@include make-icon(".brightness-6", "e3ab");
@include make-icon(".brightness-7", "e3ac");
@include make-icon(".brightness-auto", "e1ab");
@include make-icon(".brightness-high", "e1ac");
@include make-icon(".brightness-low", "e1ad");
@include make-icon(".brightness-medium", "e1ae");
@include make-icon(".broken-image", "e3ad");
@include make-icon(".brush", "e3ae");
@include make-icon(".bubble-chart", "e6dd");
@include make-icon(".bug-report", "e868");
@include make-icon(".build", "e869");
@include make-icon(".burst-mode", "e43c");
@include make-icon(".business", "e0af");
@include make-icon(".business-center", "eb3f");
@include make-icon(".cached", "e86a");
@include make-icon(".cake", "e7e9");
@include make-icon(".call", "e0b0");
@include make-icon(".call-end", "e0b1");
@include make-icon(".call-made", "e0b2");
@include make-icon(".call-merge", "e0b3");
@include make-icon(".call-missed", "e0b4");
@include make-icon(".call-missed-outgoing", "e0e4");
@include make-icon(".call-received", "e0b5");
@include make-icon(".call-split", "e0b6");
@include make-icon(".call-to-action", "e06c");
@include make-icon(".camera", "e3af");
@include make-icon(".camera-alt", "e3b0");
@include make-icon(".camera-enhance", "e8fc");
@include make-icon(".camera-front", "e3b1");
@include make-icon(".camera-rear", "e3b2");
@include make-icon(".camera-roll", "e3b3");
@include make-icon(".cancel", "e5c9");
@include make-icon(".card-giftcard", "e8f6");
@include make-icon(".card-membership", "e8f7");
@include make-icon(".card-travel", "e8f8");
@include make-icon(".casino", "eb40");
@include make-icon(".cast", "e307");
@include make-icon(".cast-connected", "e308");
@include make-icon(".center-focus-strong", "e3b4");
@include make-icon(".center-focus-weak", "e3b5");
@include make-icon(".change-history", "e86b");
@include make-icon(".chat", "e0b7");
@include make-icon(".chat-bubble", "e0ca");
@include make-icon(".chat-bubble-outline", "e0cb");
@include make-icon(".check", "e5ca");
@include make-icon(".check-box", "e834");
@include make-icon(".check-box-outline-blank", "e835");
@include make-icon(".check-circle", "e86c");
@include make-icon(".chevron-left", "e5cb");
@include make-icon(".chevron-right", "e5cc");
@include make-icon(".child-care", "eb41");
@include make-icon(".child-friendly", "eb42");
@include make-icon(".chrome-reader-mode", "e86d");
@include make-icon(".class", "e86e");
@include make-icon(".clear", "e14c");
@include make-icon(".clear-all", "e0b8");
@include make-icon(".close", "e5cd");
@include make-icon(".closed-caption", "e01c");
@include make-icon(".cloud", "e2bd");
@include make-icon(".cloud-circle", "e2be");
@include make-icon(".cloud-done", "e2bf");
@include make-icon(".cloud-download", "e2c0");
@include make-icon(".cloud-off", "e2c1");
@include make-icon(".cloud-queue", "e2c2");
@include make-icon(".cloud-upload", "e2c3");
@include make-icon(".code", "e86f");
@include make-icon(".collections", "e3b6");
@include make-icon(".collections-bookmark", "e431");
@include make-icon(".color-lens", "e3b7");
@include make-icon(".colorize", "e3b8");
@include make-icon(".comment", "e0b9");
@include make-icon(".compare", "e3b9");
@include make-icon(".compare-arrows", "e915");
@include make-icon(".computer", "e30a");
@include make-icon(".confirmation-number", "e638");
@include make-icon(".contact-mail", "e0d0");
@include make-icon(".contact-phone", "e0cf");
@include make-icon(".contacts", "e0ba");
@include make-icon(".content-copy", "e14d");
@include make-icon(".content-cut", "e14e");
@include make-icon(".content-paste", "e14f");
@include make-icon(".control-point", "e3ba");
@include make-icon(".control-point-duplicate", "e3bb");
@include make-icon(".copyright", "e90c");
@include make-icon(".create", "e150");
@include make-icon(".create-new-folder", "e2cc");
@include make-icon(".credit-card", "e870");
@include make-icon(".crop", "e3be");
@include make-icon(".crop-16-9", "e3bc");
@include make-icon(".crop-3-2", "e3bd");
@include make-icon(".crop-5-4", "e3bf");
@include make-icon(".crop-7-5", "e3c0");
@include make-icon(".crop-din", "e3c1");
@include make-icon(".crop-free", "e3c2");
@include make-icon(".crop-landscape", "e3c3");
@include make-icon(".crop-original", "e3c4");
@include make-icon(".crop-portrait", "e3c5");
@include make-icon(".crop-rotate", "e437");
@include make-icon(".crop-square", "e3c6");
@include make-icon(".dashboard", "e871");
@include make-icon(".data-usage", "e1af");
@include make-icon(".date-range", "e916");
@include make-icon(".dehaze", "e3c7");
@include make-icon(".delete", "e872");
@include make-icon(".delete-forever", "e92b");
@include make-icon(".delete-sweep", "e16c");
@include make-icon(".description", "e873");
@include make-icon(".desktop-mac", "e30b");
@include make-icon(".desktop-windows", "e30c");
@include make-icon(".details", "e3c8");
@include make-icon(".developer-board", "e30d");
@include make-icon(".developer-mode", "e1b0");
@include make-icon(".device-hub", "e335");
@include make-icon(".devices", "e1b1");
@include make-icon(".devices-other", "e337");
@include make-icon(".dialer-sip", "e0bb");
@include make-icon(".dialpad", "e0bc");
@include make-icon(".directions", "e52e");
@include make-icon(".directions-bike", "e52f");
@include make-icon(".directions-boat", "e532");
@include make-icon(".directions-bus", "e530");
@include make-icon(".directions-car", "e531");
@include make-icon(".directions-railway", "e534");
@include make-icon(".directions-run", "e566");
@include make-icon(".directions-subway", "e533");
@include make-icon(".directions-transit", "e535");
@include make-icon(".directions-walk", "e536");
@include make-icon(".disc-full", "e610");
@include make-icon(".dns", "e875");
@include make-icon(".do-not-disturb", "e612");
@include make-icon(".do-not-disturb-alt", "e611");
@include make-icon(".do-not-disturb-off", "e643");
@include make-icon(".do-not-disturb-on", "e644");
@include make-icon(".dock", "e30e");
@include make-icon(".domain", "e7ee");
@include make-icon(".done", "e876");
@include make-icon(".done-all", "e877");
@include make-icon(".donut-large", "e917");
@include make-icon(".donut-small", "e918");
@include make-icon(".drafts", "e151");
@include make-icon(".drag-handle", "e25d");
@include make-icon(".drive-eta", "e613");
@include make-icon(".dvr", "e1b2");
@include make-icon(".edit", "e3c9");
@include make-icon(".edit-location", "e568");
@include make-icon(".eject", "e8fb");
@include make-icon(".email", "e0be");
@include make-icon(".enhanced-encryption", "e63f");
@include make-icon(".equalizer", "e01d");
@include make-icon(".error", "e000");
@include make-icon(".error-outline", "e001");
@include make-icon(".euro-symbol", "e926");
@include make-icon(".ev-station", "e56d");
@include make-icon(".event", "e878");
@include make-icon(".event-available", "e614");
@include make-icon(".event-busy", "e615");
@include make-icon(".event-note", "e616");
@include make-icon(".event-seat", "e903");
@include make-icon(".exit-to-app", "e879");
@include make-icon(".expand-less", "e5ce");
@include make-icon(".expand-more", "e5cf");
@include make-icon(".explicit", "e01e");
@include make-icon(".explore", "e87a");
@include make-icon(".exposure", "e3ca");
@include make-icon(".exposure-neg-1", "e3cb");
@include make-icon(".exposure-neg-2", "e3cc");
@include make-icon(".exposure-plus-1", "e3cd");
@include make-icon(".exposure-plus-2", "e3ce");
@include make-icon(".exposure-zero", "e3cf");
@include make-icon(".extension", "e87b");
@include make-icon(".face", "e87c");
@include make-icon(".fast-forward", "e01f");
@include make-icon(".fast-rewind", "e020");
@include make-icon(".favorite", "e87d");
@include make-icon(".favorite-border", "e87e");
@include make-icon(".featured-play-list", "e06d");
@include make-icon(".featured-video", "e06e");
@include make-icon(".feedback", "e87f");
@include make-icon(".fiber-dvr", "e05d");
@include make-icon(".fiber-manual-record", "e061");
@include make-icon(".fiber-new", "e05e");
@include make-icon(".fiber-pin", "e06a");
@include make-icon(".fiber-smart-record", "e062");
@include make-icon(".file-download", "e2c4");
@include make-icon(".file-upload", "e2c6");
@include make-icon(".filter", "e3d3");
@include make-icon(".filter-1", "e3d0");
@include make-icon(".filter-2", "e3d1");
@include make-icon(".filter-3", "e3d2");
@include make-icon(".filter-4", "e3d4");
@include make-icon(".filter-5", "e3d5");
@include make-icon(".filter-6", "e3d6");
@include make-icon(".filter-7", "e3d7");
@include make-icon(".filter-8", "e3d8");
@include make-icon(".filter-9", "e3d9");
@include make-icon(".filter-9-plus", "e3da");
@include make-icon(".filter-b-and-w", "e3db");
@include make-icon(".filter-center-focus", "e3dc");
@include make-icon(".filter-drama", "e3dd");
@include make-icon(".filter-frames", "e3de");
@include make-icon(".filter-hdr", "e3df");
@include make-icon(".filter-list", "e152");
@include make-icon(".filter-none", "e3e0");
@include make-icon(".filter-tilt-shift", "e3e2");
@include make-icon(".filter-vintage", "e3e3");
@include make-icon(".find-in-page", "e880");
@include make-icon(".find-replace", "e881");
@include make-icon(".fingerprint", "e90d");
@include make-icon(".first-page", "e5dc");
@include make-icon(".fitness-center", "eb43");
@include make-icon(".flag", "e153");
@include make-icon(".flare", "e3e4");
@include make-icon(".flash-auto", "e3e5");
@include make-icon(".flash-off", "e3e6");
@include make-icon(".flash-on", "e3e7");
@include make-icon(".flight", "e539");
@include make-icon(".flight-land", "e904");
@include make-icon(".flight-takeoff", "e905");
@include make-icon(".flip", "e3e8");
@include make-icon(".flip-to-back", "e882");
@include make-icon(".flip-to-front", "e883");
@include make-icon(".folder", "e2c7");
@include make-icon(".folder-open", "e2c8");
@include make-icon(".folder-shared", "e2c9");
@include make-icon(".folder-special", "e617");
@include make-icon(".font-download", "e167");
@include make-icon(".format-align-center", "e234");
@include make-icon(".format-align-justify", "e235");
@include make-icon(".format-align-left", "e236");
@include make-icon(".format-align-right", "e237");
@include make-icon(".format-bold", "e238");
@include make-icon(".format-clear", "e239");
@include make-icon(".format-color-fill", "e23a");
@include make-icon(".format-color-reset", "e23b");
@include make-icon(".format-color-text", "e23c");
@include make-icon(".format-indent-decrease", "e23d");
@include make-icon(".format-indent-increase", "e23e");
@include make-icon(".format-italic", "e23f");
@include make-icon(".format-line-spacing", "e240");
@include make-icon(".format-list-bulleted", "e241");
@include make-icon(".format-list-numbered", "e242");
@include make-icon(".format-paint", "e243");
@include make-icon(".format-quote", "e244");
@include make-icon(".format-shapes", "e25e");
@include make-icon(".format-size", "e245");
@include make-icon(".format-strikethrough", "e246");
@include make-icon(".format-textdirection-l-to-r", "e247");
@include make-icon(".format-textdirection-r-to-l", "e248");
@include make-icon(".format-underlined", "e249");
@include make-icon(".forum", "e0bf");
@include make-icon(".forward", "e154");
@include make-icon(".forward-10", "e056");
@include make-icon(".forward-30", "e057");
@include make-icon(".forward-5", "e058");
@include make-icon(".free-breakfast", "eb44");
@include make-icon(".fullscreen", "e5d0");
@include make-icon(".fullscreen-exit", "e5d1");
@include make-icon(".functions", "e24a");
@include make-icon(".g-translate", "e927");
@include make-icon(".gamepad", "e30f");
@include make-icon(".games", "e021");
@include make-icon(".gavel", "e90e");
@include make-icon(".gesture", "e155");
@include make-icon(".get-app", "e884");
@include make-icon(".gif", "e908");
@include make-icon(".golf-course", "eb45");
@include make-icon(".gps-fixed", "e1b3");
@include make-icon(".gps-not-fixed", "e1b4");
@include make-icon(".gps-off", "e1b5");
@include make-icon(".grade", "e885");
@include make-icon(".gradient", "e3e9");
@include make-icon(".grain", "e3ea");
@include make-icon(".graphic-eq", "e1b8");
@include make-icon(".grid-off", "e3eb");
@include make-icon(".grid-on", "e3ec");
@include make-icon(".group", "e7ef");
@include make-icon(".group-add", "e7f0");
@include make-icon(".group-work", "e886");
@include make-icon(".hd", "e052");
@include make-icon(".hdr-off", "e3ed");
@include make-icon(".hdr-on", "e3ee");
@include make-icon(".hdr-strong", "e3f1");
@include make-icon(".hdr-weak", "e3f2");
@include make-icon(".headset", "e310");
@include make-icon(".headset-mic", "e311");
@include make-icon(".healing", "e3f3");
@include make-icon(".hearing", "e023");
@include make-icon(".help", "e887");
@include make-icon(".help-outline", "e8fd");
@include make-icon(".high-quality", "e024");
@include make-icon(".highlight", "e25f");
@include make-icon(".highlight-off", "e888");
@include make-icon(".history", "e889");
@include make-icon(".home", "e88a");
@include make-icon(".hot-tub", "eb46");
@include make-icon(".hotel", "e53a");
@include make-icon(".hourglass-empty", "e88b");
@include make-icon(".hourglass-full", "e88c");
@include make-icon(".http", "e902");
@include make-icon(".https", "e88d");
@include make-icon(".image", "e3f4");
@include make-icon(".image-aspect-ratio", "e3f5");
@include make-icon(".import-contacts", "e0e0");
@include make-icon(".import-export", "e0c3");
@include make-icon(".important-devices", "e912");
@include make-icon(".inbox", "e156");
@include make-icon(".indeterminate-check-box", "e909");
@include make-icon(".info", "e88e");
@include make-icon(".info-outline", "e88f");
@include make-icon(".input", "e890");
@include make-icon(".insert-chart", "e24b");
@include make-icon(".insert-comment", "e24c");
@include make-icon(".insert-drive-file", "e24d");
@include make-icon(".insert-emoticon", "e24e");
@include make-icon(".insert-invitation", "e24f");
@include make-icon(".insert-link", "e250");
@include make-icon(".insert-photo", "e251");
@include make-icon(".invert-colors", "e891");
@include make-icon(".invert-colors-off", "e0c4");
@include make-icon(".iso", "e3f6");
@include make-icon(".keyboard", "e312");
@include make-icon(".keyboard-arrow-down", "e313");
@include make-icon(".keyboard-arrow-left", "e314");
@include make-icon(".keyboard-arrow-right", "e315");
@include make-icon(".keyboard-arrow-up", "e316");
@include make-icon(".keyboard-backspace", "e317");
@include make-icon(".keyboard-capslock", "e318");
@include make-icon(".keyboard-hide", "e31a");
@include make-icon(".keyboard-return", "e31b");
@include make-icon(".keyboard-tab", "e31c");
@include make-icon(".keyboard-voice", "e31d");
@include make-icon(".kitchen", "eb47");
@include make-icon(".label", "e892");
@include make-icon(".label-outline", "e893");
@include make-icon(".landscape", "e3f7");
@include make-icon(".language", "e894");
@include make-icon(".laptop", "e31e");
@include make-icon(".laptop-chromebook", "e31f");
@include make-icon(".laptop-mac", "e320");
@include make-icon(".laptop-windows", "e321");
@include make-icon(".last-page", "e5dd");
@include make-icon(".launch", "e895");
@include make-icon(".layers", "e53b");
@include make-icon(".layers-clear", "e53c");
@include make-icon(".leak-add", "e3f8");
@include make-icon(".leak-remove", "e3f9");
@include make-icon(".lens", "e3fa");
@include make-icon(".library-add", "e02e");
@include make-icon(".library-books", "e02f");
@include make-icon(".library-music", "e030");
@include make-icon(".lightbulb-outline", "e90f");
@include make-icon(".line-style", "e919");
@include make-icon(".line-weight", "e91a");
@include make-icon(".linear-scale", "e260");
@include make-icon(".link", "e157");
@include make-icon(".linked-camera", "e438");
@include make-icon(".list", "e896");
@include make-icon(".live-help", "e0c6");
@include make-icon(".live-tv", "e639");
@include make-icon(".local-activity", "e53f");
@include make-icon(".local-airport", "e53d");
@include make-icon(".local-atm", "e53e");
@include make-icon(".local-bar", "e540");
@include make-icon(".local-cafe", "e541");
@include make-icon(".local-car-wash", "e542");
@include make-icon(".local-convenience-store", "e543");
@include make-icon(".local-dining", "e556");
@include make-icon(".local-drink", "e544");
@include make-icon(".local-florist", "e545");
@include make-icon(".local-gas-station", "e546");
@include make-icon(".local-grocery-store", "e547");
@include make-icon(".local-hospital", "e548");
@include make-icon(".local-hotel", "e549");
@include make-icon(".local-laundry-service", "e54a");
@include make-icon(".local-library", "e54b");
@include make-icon(".local-mall", "e54c");
@include make-icon(".local-movies", "e54d");
@include make-icon(".local-offer", "e54e");
@include make-icon(".local-parking", "e54f");
@include make-icon(".local-pharmacy", "e550");
@include make-icon(".local-phone", "e551");
@include make-icon(".local-pizza", "e552");
@include make-icon(".local-play", "e553");
@include make-icon(".local-post-office", "e554");
@include make-icon(".local-printshop", "e555");
@include make-icon(".local-see", "e557");
@include make-icon(".local-shipping", "e558");
@include make-icon(".local-taxi", "e559");
@include make-icon(".location-city", "e7f1");
@include make-icon(".location-disabled", "e1b6");
@include make-icon(".location-off", "e0c7");
@include make-icon(".location-on", "e0c8");
@include make-icon(".location-searching", "e1b7");
@include make-icon(".lock", "e897");
@include make-icon(".lock-open", "e898");
@include make-icon(".lock-outline", "e899");
@include make-icon(".looks", "e3fc");
@include make-icon(".looks-3", "e3fb");
@include make-icon(".looks-4", "e3fd");
@include make-icon(".looks-5", "e3fe");
@include make-icon(".looks-6", "e3ff");
@include make-icon(".looks-one", "e400");
@include make-icon(".looks-two", "e401");
@include make-icon(".loop", "e028");
@include make-icon(".loupe", "e402");
@include make-icon(".low-priority", "e16d");
@include make-icon(".loyalty", "e89a");
@include make-icon(".mail", "e158");
@include make-icon(".mail-outline", "e0e1");
@include make-icon(".map", "e55b");
@include make-icon(".markunread", "e159");
@include make-icon(".markunread-mailbox", "e89b");
@include make-icon(".memory", "e322");
@include make-icon(".menu", "e5d2");
@include make-icon(".merge-type", "e252");
@include make-icon(".message", "e0c9");
@include make-icon(".mic", "e029");
@include make-icon(".mic-none", "e02a");
@include make-icon(".mic-off", "e02b");
@include make-icon(".mms", "e618");
@include make-icon(".mode-comment", "e253");
@include make-icon(".mode-edit", "e254");
@include make-icon(".monetization-on", "e263");
@include make-icon(".money-off", "e25c");
@include make-icon(".monochrome-photos", "e403");
@include make-icon(".mood", "e7f2");
@include make-icon(".mood-bad", "e7f3");
@include make-icon(".more", "e619");
@include make-icon(".more-horiz", "e5d3");
@include make-icon(".more-vert", "e5d4");
@include make-icon(".motorcycle", "e91b");
@include make-icon(".mouse", "e323");
@include make-icon(".move-to-inbox", "e168");
@include make-icon(".movie", "e02c");
@include make-icon(".movie-creation", "e404");
@include make-icon(".movie-filter", "e43a");
@include make-icon(".multiline-chart", "e6df");
@include make-icon(".music-note", "e405");
@include make-icon(".music-video", "e063");
@include make-icon(".my-location", "e55c");
@include make-icon(".nature", "e406");
@include make-icon(".nature-people", "e407");
@include make-icon(".navigate-before", "e408");
@include make-icon(".navigate-next", "e409");
@include make-icon(".navigation", "e55d");
@include make-icon(".near-me", "e569");
@include make-icon(".network-cell", "e1b9");
@include make-icon(".network-check", "e640");
@include make-icon(".network-locked", "e61a");
@include make-icon(".network-wifi", "e1ba");
@include make-icon(".new-releases", "e031");
@include make-icon(".next-week", "e16a");
@include make-icon(".nfc", "e1bb");
@include make-icon(".no-encryption", "e641");
@include make-icon(".no-sim", "e0cc");
@include make-icon(".not-interested", "e033");
@include make-icon(".note", "e06f");
@include make-icon(".note-add", "e89c");
@include make-icon(".notifications", "e7f4");
@include make-icon(".notifications-active", "e7f7");
@include make-icon(".notifications-none", "e7f5");
@include make-icon(".notifications-off", "e7f6");
@include make-icon(".notifications-paused", "e7f8");
@include make-icon(".offline-pin", "e90a");
@include make-icon(".ondemand-video", "e63a");
@include make-icon(".opacity", "e91c");
@include make-icon(".open-in-browser", "e89d");
@include make-icon(".open-in-new", "e89e");
@include make-icon(".open-with", "e89f");
@include make-icon(".pages", "e7f9");
@include make-icon(".pageview", "e8a0");
@include make-icon(".palette", "e40a");
@include make-icon(".pan-tool", "e925");
@include make-icon(".panorama", "e40b");
@include make-icon(".panorama-fish-eye", "e40c");
@include make-icon(".panorama-horizontal", "e40d");
@include make-icon(".panorama-vertical", "e40e");
@include make-icon(".panorama-wide-angle", "e40f");
@include make-icon(".party-mode", "e7fa");
@include make-icon(".pause", "e034");
@include make-icon(".pause-circle-filled", "e035");
@include make-icon(".pause-circle-outline", "e036");
@include make-icon(".payment", "e8a1");
@include make-icon(".people", "e7fb");
@include make-icon(".people-outline", "e7fc");
@include make-icon(".perm-camera-mic", "e8a2");
@include make-icon(".perm-contact-calendar", "e8a3");
@include make-icon(".perm-data-setting", "e8a4");
@include make-icon(".perm-device-information", "e8a5");
@include make-icon(".perm-identity", "e8a6");
@include make-icon(".perm-media", "e8a7");
@include make-icon(".perm-phone-msg", "e8a8");
@include make-icon(".perm-scan-wifi", "e8a9");
@include make-icon(".person", "e7fd");
@include make-icon(".person-add", "e7fe");
@include make-icon(".person-outline", "e7ff");
@include make-icon(".person-pin", "e55a");
@include make-icon(".person-pin-circle", "e56a");
@include make-icon(".personal-video", "e63b");
@include make-icon(".pets", "e91d");
@include make-icon(".phone", "e0cd");
@include make-icon(".phone-android", "e324");
@include make-icon(".phone-bluetooth-speaker", "e61b");
@include make-icon(".phone-forwarded", "e61c");
@include make-icon(".phone-in-talk", "e61d");
@include make-icon(".phone-iphone", "e325");
@include make-icon(".phone-locked", "e61e");
@include make-icon(".phone-missed", "e61f");
@include make-icon(".phone-paused", "e620");
@include make-icon(".phonelink", "e326");
@include make-icon(".phonelink-erase", "e0db");
@include make-icon(".phonelink-lock", "e0dc");
@include make-icon(".phonelink-off", "e327");
@include make-icon(".phonelink-ring", "e0dd");
@include make-icon(".phonelink-setup", "e0de");
@include make-icon(".photo", "e410");
@include make-icon(".photo-album", "e411");
@include make-icon(".photo-camera", "e412");
@include make-icon(".photo-filter", "e43b");
@include make-icon(".photo-library", "e413");
@include make-icon(".photo-size-select-actual", "e432");
@include make-icon(".photo-size-select-large", "e433");
@include make-icon(".photo-size-select-small", "e434");
@include make-icon(".picture-as-pdf", "e415");
@include make-icon(".picture-in-picture", "e8aa");
@include make-icon(".picture-in-picture-alt", "e911");
@include make-icon(".pie-chart", "e6c4");
@include make-icon(".pie-chart-outlined", "e6c5");
@include make-icon(".pin-drop", "e55e");
@include make-icon(".place", "e55f");
@include make-icon(".play-arrow", "e037");
@include make-icon(".play-circle-filled", "e038");
@include make-icon(".play-circle-outline", "e039");
@include make-icon(".play-for-work", "e906");
@include make-icon(".playlist-add", "e03b");
@include make-icon(".playlist-add-check", "e065");
@include make-icon(".playlist-play", "e05f");
@include make-icon(".plus-one", "e800");
@include make-icon(".poll", "e801");
@include make-icon(".polymer", "e8ab");
@include make-icon(".pool", "eb48");
@include make-icon(".portable-wifi-off", "e0ce");
@include make-icon(".portrait", "e416");
@include make-icon(".power", "e63c");
@include make-icon(".power-input", "e336");
@include make-icon(".power-settings-new", "e8ac");
@include make-icon(".pregnant-woman", "e91e");
@include make-icon(".present-to-all", "e0df");
@include make-icon(".print", "e8ad");
@include make-icon(".priority-high", "e645");
@include make-icon(".public", "e80b");
@include make-icon(".publish", "e255");
@include make-icon(".query-builder", "e8ae");
@include make-icon(".question-answer", "e8af");
@include make-icon(".queue", "e03c");
@include make-icon(".queue-music", "e03d");
@include make-icon(".queue-play-next", "e066");
@include make-icon(".radio", "e03e");
@include make-icon(".radio-button-checked", "e837");
@include make-icon(".radio-button-unchecked", "e836");
@include make-icon(".rate-review", "e560");
@include make-icon(".receipt", "e8b0");
@include make-icon(".recent-actors", "e03f");
@include make-icon(".record-voice-over", "e91f");
@include make-icon(".redeem", "e8b1");
@include make-icon(".redo", "e15a");
@include make-icon(".refresh", "e5d5");
@include make-icon(".remove", "e15b");
@include make-icon(".remove-circle", "e15c");
@include make-icon(".remove-circle-outline", "e15d");
@include make-icon(".remove-from-queue", "e067");
@include make-icon(".remove-red-eye", "e417");
@include make-icon(".remove-shopping-cart", "e928");
@include make-icon(".reorder", "e8fe");
@include make-icon(".repeat", "e040");
@include make-icon(".repeat-one", "e041");
@include make-icon(".replay", "e042");
@include make-icon(".replay-10", "e059");
@include make-icon(".replay-30", "e05a");
@include make-icon(".replay-5", "e05b");
@include make-icon(".reply", "e15e");
@include make-icon(".reply-all", "e15f");
@include make-icon(".report", "e160");
@include make-icon(".report-problem", "e8b2");
@include make-icon(".restaurant", "e56c");
@include make-icon(".restaurant-menu", "e561");
@include make-icon(".restore", "e8b3");
@include make-icon(".restore-page", "e929");
@include make-icon(".ring-volume", "e0d1");
@include make-icon(".room", "e8b4");
@include make-icon(".room-service", "eb49");
@include make-icon(".rotate-90-degrees-ccw", "e418");
@include make-icon(".rotate-left", "e419");
@include make-icon(".rotate-right", "e41a");
@include make-icon(".rounded-corner", "e920");
@include make-icon(".router", "e328");
@include make-icon(".rowing", "e921");
@include make-icon(".rss-feed", "e0e5");
@include make-icon(".rv-hookup", "e642");
@include make-icon(".satellite", "e562");
@include make-icon(".save", "e161");
@include make-icon(".scanner", "e329");
@include make-icon(".schedule", "e8b5");
@include make-icon(".school", "e80c");
@include make-icon(".screen-lock-landscape", "e1be");
@include make-icon(".screen-lock-portrait", "e1bf");
@include make-icon(".screen-lock-rotation", "e1c0");
@include make-icon(".screen-rotation", "e1c1");
@include make-icon(".screen-share", "e0e2");
@include make-icon(".sd-card", "e623");
@include make-icon(".sd-storage", "e1c2");
@include make-icon(".search", "e8b6");
@include make-icon(".security", "e32a");
@include make-icon(".select-all", "e162");
@include make-icon(".send", "e163");
@include make-icon(".sentiment-dissatisfied", "e811");
@include make-icon(".sentiment-neutral", "e812");
@include make-icon(".sentiment-satisfied", "e813");
@include make-icon(".sentiment-very-dissatisfied", "e814");
@include make-icon(".sentiment-very-satisfied", "e815");
@include make-icon(".settings", "e8b8");
@include make-icon(".settings-applications", "e8b9");
@include make-icon(".settings-backup-restore", "e8ba");
@include make-icon(".settings-bluetooth", "e8bb");
@include make-icon(".settings-brightness", "e8bd");
@include make-icon(".settings-cell", "e8bc");
@include make-icon(".settings-ethernet", "e8be");
@include make-icon(".settings-input-antenna", "e8bf");
@include make-icon(".settings-input-component", "e8c0");
@include make-icon(".settings-input-composite", "e8c1");
@include make-icon(".settings-input-hdmi", "e8c2");
@include make-icon(".settings-input-svideo", "e8c3");
@include make-icon(".settings-overscan", "e8c4");
@include make-icon(".settings-phone", "e8c5");
@include make-icon(".settings-power", "e8c6");
@include make-icon(".settings-remote", "e8c7");
@include make-icon(".settings-system-daydream", "e1c3");
@include make-icon(".settings-voice", "e8c8");
@include make-icon(".share", "e80d");
@include make-icon(".shop", "e8c9");
@include make-icon(".shop-two", "e8ca");
@include make-icon(".shopping-basket", "e8cb");
@include make-icon(".shopping-cart", "e8cc");
@include make-icon(".short-text", "e261");
@include make-icon(".show-chart", "e6e1");
@include make-icon(".shuffle", "e043");
@include make-icon(".signal-cellular-4-bar", "e1c8");
@include make-icon(".signal-cellular-connected-no-internet-4-bar", "e1cd");
@include make-icon(".signal-cellular-no-sim", "e1ce");
@include make-icon(".signal-cellular-null", "e1cf");
@include make-icon(".signal-cellular-off", "e1d0");
@include make-icon(".signal-wifi-4-bar", "e1d8");
@include make-icon(".signal-wifi-4-bar-lock", "e1d9");
@include make-icon(".signal-wifi-off", "e1da");
@include make-icon(".sim-card", "e32b");
@include make-icon(".sim-card-alert", "e624");
@include make-icon(".skip-next", "e044");
@include make-icon(".skip-previous", "e045");
@include make-icon(".slideshow", "e41b");
@include make-icon(".slow-motion-video", "e068");
@include make-icon(".smartphone", "e32c");
@include make-icon(".smoke-free", "eb4a");
@include make-icon(".smoking-rooms", "eb4b");
@include make-icon(".sms", "e625");
@include make-icon(".sms-failed", "e626");
@include make-icon(".snooze", "e046");
@include make-icon(".sort", "e164");
@include make-icon(".sort-by-alpha", "e053");
@include make-icon(".spa", "eb4c");
@include make-icon(".space-bar", "e256");
@include make-icon(".speaker", "e32d");
@include make-icon(".speaker-group", "e32e");
@include make-icon(".speaker-notes", "e8cd");
@include make-icon(".speaker-notes-off", "e92a");
@include make-icon(".speaker-phone", "e0d2");
@include make-icon(".spellcheck", "e8ce");
@include make-icon(".star", "e838");
@include make-icon(".star-border", "e83a");
@include make-icon(".star-half", "e839");
@include make-icon(".stars", "e8d0");
@include make-icon(".stay-current-landscape", "e0d3");
@include make-icon(".stay-current-portrait", "e0d4");
@include make-icon(".stay-primary-landscape", "e0d5");
@include make-icon(".stay-primary-portrait", "e0d6");
@include make-icon(".stop", "e047");
@include make-icon(".stop-screen-share", "e0e3");
@include make-icon(".storage", "e1db");
@include make-icon(".store", "e8d1");
@include make-icon(".store-mall-directory", "e563");
@include make-icon(".straighten", "e41c");
@include make-icon(".streetview", "e56e");
@include make-icon(".strikethrough-s", "e257");
@include make-icon(".style", "e41d");
@include make-icon(".subdirectory-arrow-left", "e5d9");
@include make-icon(".subdirectory-arrow-right", "e5da");
@include make-icon(".subject", "e8d2");
@include make-icon(".subscriptions", "e064");
@include make-icon(".subtitles", "e048");
@include make-icon(".subway", "e56f");
@include make-icon(".supervisor-account", "e8d3");
@include make-icon(".surround-sound", "e049");
@include make-icon(".swap-calls", "e0d7");
@include make-icon(".swap-horiz", "e8d4");
@include make-icon(".swap-vert", "e8d5");
@include make-icon(".swap-vertical-circle", "e8d6");
@include make-icon(".switch-camera", "e41e");
@include make-icon(".switch-video", "e41f");
@include make-icon(".sync", "e627");
@include make-icon(".sync-disabled", "e628");
@include make-icon(".sync-problem", "e629");
@include make-icon(".system-update", "e62a");
@include make-icon(".system-update-alt", "e8d7");
@include make-icon(".tab", "e8d8");
@include make-icon(".tab-unselected", "e8d9");
@include make-icon(".tablet", "e32f");
@include make-icon(".tablet-android", "e330");
@include make-icon(".tablet-mac", "e331");
@include make-icon(".tag-faces", "e420");
@include make-icon(".tap-and-play", "e62b");
@include make-icon(".terrain", "e564");
@include make-icon(".text-fields", "e262");
@include make-icon(".text-format", "e165");
@include make-icon(".textsms", "e0d8");
@include make-icon(".texture", "e421");
@include make-icon(".theaters", "e8da");
@include make-icon(".thumb-down", "e8db");
@include make-icon(".thumb-up", "e8dc");
@include make-icon(".thumbs-up-down", "e8dd");
@include make-icon(".time-to-leave", "e62c");
@include make-icon(".timelapse", "e422");
@include make-icon(".timeline", "e922");
@include make-icon(".timer", "e425");
@include make-icon(".timer-10", "e423");
@include make-icon(".timer-3", "e424");
@include make-icon(".timer-off", "e426");
@include make-icon(".title", "e264");
@include make-icon(".toc", "e8de");
@include make-icon(".today", "e8df");
@include make-icon(".toll", "e8e0");
@include make-icon(".tonality", "e427");
@include make-icon(".touch-app", "e913");
@include make-icon(".toys", "e332");
@include make-icon(".track-changes", "e8e1");
@include make-icon(".traffic", "e565");
@include make-icon(".train", "e570");
@include make-icon(".tram", "e571");
@include make-icon(".transfer-within-a-station", "e572");
@include make-icon(".transform", "e428");
@include make-icon(".translate", "e8e2");
@include make-icon(".trending-down", "e8e3");
@include make-icon(".trending-flat", "e8e4");
@include make-icon(".trending-up", "e8e5");
@include make-icon(".tune", "e429");
@include make-icon(".turned-in", "e8e6");
@include make-icon(".turned-in-not", "e8e7");
@include make-icon(".tv", "e333");
@include make-icon(".unarchive", "e169");
@include make-icon(".undo", "e166");
@include make-icon(".unfold-less", "e5d6");
@include make-icon(".unfold-more", "e5d7");
@include make-icon(".update", "e923");
@include make-icon(".usb", "e1e0");
@include make-icon(".verified-user", "e8e8");
@include make-icon(".vertical-align-bottom", "e258");
@include make-icon(".vertical-align-center", "e259");
@include make-icon(".vertical-align-top", "e25a");
@include make-icon(".vibration", "e62d");
@include make-icon(".video-call", "e070");
@include make-icon(".video-label", "e071");
@include make-icon(".video-library", "e04a");
@include make-icon(".videocam", "e04b");
@include make-icon(".videocam-off", "e04c");
@include make-icon(".videogame-asset", "e338");
@include make-icon(".view-agenda", "e8e9");
@include make-icon(".view-array", "e8ea");
@include make-icon(".view-carousel", "e8eb");
@include make-icon(".view-column", "e8ec");
@include make-icon(".view-comfy", "e42a");
@include make-icon(".view-compact", "e42b");
@include make-icon(".view-day", "e8ed");
@include make-icon(".view-headline", "e8ee");
@include make-icon(".view-list", "e8ef");
@include make-icon(".view-module", "e8f0");
@include make-icon(".view-quilt", "e8f1");
@include make-icon(".view-stream", "e8f2");
@include make-icon(".view-week", "e8f3");
@include make-icon(".vignette", "e435");
@include make-icon(".visibility", "e8f4");
@include make-icon(".visibility-off", "e8f5");
@include make-icon(".voice-chat", "e62e");
@include make-icon(".voicemail", "e0d9");
@include make-icon(".volume-down", "e04d");
@include make-icon(".volume-mute", "e04e");
@include make-icon(".volume-off", "e04f");
@include make-icon(".volume-up", "e050");
@include make-icon(".vpn-key", "e0da");
@include make-icon(".vpn-lock", "e62f");
@include make-icon(".wallpaper", "e1bc");
@include make-icon(".warning", "e002");
@include make-icon(".watch", "e334");
@include make-icon(".watch-later", "e924");
@include make-icon(".wb-auto", "e42c");
@include make-icon(".wb-cloudy", "e42d");
@include make-icon(".wb-incandescent", "e42e");
@include make-icon(".wb-iridescent", "e436");
@include make-icon(".wb-sunny", "e430");
@include make-icon(".wc", "e63d");
@include make-icon(".web", "e051");
@include make-icon(".web-asset", "e069");
@include make-icon(".weekend", "e16b");
@include make-icon(".whatshot", "e80e");
@include make-icon(".widgets", "e1bd");
@include make-icon(".wifi", "e63e");
@include make-icon(".wifi-lock", "e1e1");
@include make-icon(".wifi-tethering", "e1e2");
@include make-icon(".work", "e8f9");
@include make-icon(".wrap-text", "e25b");
@include make-icon(".youtube-searched-for", "e8fa");
@include make-icon(".zoom-in", "e8ff");
@include make-icon(".zoom-out", "e900");
@include make-icon(".zoom-out-map", "e56b");
}