html {
  font-size: 1em;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans MT", "Calibri", "sans-serif";
  cursor: default; }

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  font-family: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  margin: 0;
  padding: 0; }

.bank-banner {
  background-color: #303F9F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
  z-index: 65535;
  cursor: default;
  color: #FFF;
  text-align: left;
  height: 3.125em; }
  .bank-banner .bank-header {
    margin: 0 0 0 .3em;
    padding: 0;
    font-variant: small-caps;
    position: absolute;
    line-height: 1.525em;
    vertical-align: middle; }
  .bank-banner .bank-navigation {
    list-style: outside none none;
    padding: 0;
    margin: .5em;
    font-family: "Gill Sans MT", "Calibri", "sans-serif";
    font-stretch: condensed;
    font-size: larger;
    text-align: right; }
    .bank-banner .bank-navigation li {
      margin: 0 .13em;
      padding: 0 .5em;
      height: 1.75em;
      line-height: 1.75em;
      display: inline-block;
      transition-duration: 0.3s;
      border: 1px solid transparent;
      opacity: 0.6;
      border-radius: 0.1em;
      cursor: pointer; }
      .bank-banner .bank-navigation li:hover {
        opacity: 1;
        border: 0.06em solid #FFF;
        box-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.5); }

.bank-viewport {
  height: 100vh;
  width: 100vw;
  padding-top: 3.425em; }
  .bank-viewport.collapsed-menu .bank-subnavigation-container {
    width: 1.69em; }
  .bank-viewport .bank-content {
    width: -webkit-calc(100% -  12.5em);
    width: calc(100% -  12.5em);
    height: -webkit-calc(100%);
    height: calc(100%);
    background-color: #FFF;
    margin-left: 12.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
    transition-duration: .5s; }
    .bank-viewport.collapsed-menu .bank-content {
      width: -webkit-calc(100% -  1.69em);
      width: calc(100% -  1.69em);
      margin-left: 1.69em; }
  .bank-viewport .bank-subnavigation-container {
    background-color: #C5CAE9;
    height: 100vh;
    width: 12.5em;
    transition-duration: 0.5s;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    padding-top: 3.425em;
    box-shadow: 0 0.19em 0.19em rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .bank-viewport .bank-subnavigation-container .bank-subnavigation-list {
      width: 200px;
      list-style: outside none none;
      padding: 0;
      margin: 0;
      cursor: pointer; }
      .bank-viewport .bank-subnavigation-container .bank-subnavigation-list.list-2 {
        border-top: 1px solid rgba(0, 0, 0, 0.7); }
      .bank-viewport .bank-subnavigation-container .bank-subnavigation-list .subnav {
        padding: .1em;
        font-size: larger;
        color: #000;
        opacity: 0.6;
        transition-duration: .3s; }
        .bank-viewport .bank-subnavigation-container .bank-subnavigation-list .subnav:hover {
          opacity: 0.9;
          background-color: rgba(255, 255, 255, 0.3); }

.bank-overview-container {
  display: inline-block;
  vertical-align: top;
  margin: 0 .625em .625em 0;
  border-radius: 3px 3px 2px 2px;
  overflow: hidden;
  border: 1px solid #000; }
  .bank-overview-container .bank-overview-table {
    border-radius: 2px;
    border-collapse: collapse;
    margin-top: -1px; }
    .bank-overview-container .bank-overview-table thead {
      text-align: center;
      background-color: #C5CAE9;
      margin-bottom: 2px;
      font-weight: bold; }
      .bank-overview-container .bank-overview-table thead h3 {
        position: relative;
        text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.2); }
    .bank-overview-container .bank-overview-table td {
      padding: 3px 2px; }
      .bank-overview-container .bank-overview-table td div {
        display: block;
        width: 7.5em;
        margin: 0 .5em; }
    .bank-overview-container .bank-overview-table.projected th {
      background-color: #880A0A;
      color: #FFF; }
    .bank-overview-container .bank-overview-table.executed th {
      background-color: #196A19;
      color: #FFF; }

.table-banded tr {
  border-top: 1px solid rgba(182, 182, 182, 0.5); }

.table-hover tbody tr:hover {
  background-color: rgba(255, 82, 82, 0.1); }

.tooltip {
  position: absolute;
  border: 1px #aaa solid;
  border-radius: 2px;
  background-color: #ffffcc;
  padding: 3px;
  color: #000;
  font-size: .9em;
  z-index: 2; }

.currency {
  text-align: right;
  margin-left: .8em; }
  .currency:before {
    position: absolute;
    left: 0;
    content: "$"; }
  .currency:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -0.5em;
    width: .32em;
    border-radius: .125em;
    border: 1px solid #000; }
    .currency.os-quarter:after {
      content: "";
      background-color: orange;
      background-image: repeating-linear-gradient(135deg, transparent, transparent 0.188em, #000 0.188em, #000 0.375em);
      background-image: -ms-repeating-linear-gradient(135deg, transparent, transparent 0.188em, #000 0.188em, #000 0.375em); }
    .currency.os-year:after {
      content: "";
      background-color: #f00;
      background-image: repeating-linear-gradient(135deg, transparent, transparent 0.188em, #f00 0.188em, #f00 0.375em);
      background-image: -ms-repeating-linear-gradient(135deg, transparent, transparent 0.188em, #f00 0.188em, #f00 0.375em); }

/*# sourceMappingURL=bank.css.map */
