.bank-form .button-bar {
	width:100%;
	text-align:center;
	margin-top:4px;
	border:1px solid transparent;
	border-top:1px solid #B6B6B6;
	padding:4px;
	box-sizing:border-box;
}
.bank-form.data-entry fieldset {
	width:560px;
}
fieldset {
	min-width:0;
	padding:0;
	border:0;
	margin:0 20px 8px;
	vertical-align:top;
	display:inline;
	text-align:left;
}
.bank-form.horizontal label {
	position:absolute;
	left:0;
	width:120px;
	word-wrap:nowrap;
}
.bank-form.horizontal .bank-control:not(.no-form-resize) {
	padding-left:125px;
}
fieldset > legend {
	display:block;
	width:100%;
	padding:0;
	margin:10px 0;
	font-size:21px;
	line-height:inherit;
	color:null;
	border-width:0 0 1px;
	border-style:none none solid;
	border-color:#B6B6B6;
	text-align:left;
}
fieldset > div {
	margin-bottom:8px;
}
.bank-form.data-entry {
	box-sizing:border-box;
	text-align:center;
}
.stick-right {
	position:absolute;
	right:0;
}
.stick-left {
	position:absolute;
	left:0;
}
.float-right {
	float:right;
}
.float-left {
	float:left;
}
.margin-none {
	margin:0;
}
.align-center {
	text-align:center;
}
.height-nil {
	height:0px !important;
}
.cursor-pointer {
	cursor:pointer;
}
.hover-active-color:hover {
	color:#66AFE9;
}
.hover-active-color:active {
	color:#FF5252;
}
.hover-active-border {
	border:1px solid transparent;
}
.hover-active-border:hover {
	color:1px solid #66AFE9;
	z-index:3;
	position:relative;
}
.hover-active-border:active {
	color:1px solid #FF5252;
	z-index:2;
	position:relative;
}
.bank-overview-table tr:before {
	content:attr(data-label);
}
.row-header:before {
	content:attr(data-label);
}
.row-header {
	background-color:#C5CAE9;
	font-weight:bold;
}

.bank-calendar {
	width:212px;
	background-color:#FFFFFF;
	border:1px solid #B6B6B6;
	z-index:999;
}
.bank-calendar > div {
	border-top:1px solid #B6B6B6;
}
.bank-calendar-weekday {
	border-bottom:1px solid #B6B6B6;
}
.bank-calendar-day, .bank-calendar-weekday {
	width:calc(100% / 7);
	height:30px;
	display:inline-block;
	line-height:30px;
	text-align:center;
}
.bank-calendar-month {
	width:52.5px;
	height:52.5px;
	border:1px solid transparent;
	text-align:center;
	line-height:52.5px;
	display:inline-block;
}
.bank-calendar-month.selected, .bank-calendar-day.selected {
	border-color:#FF5252;
}
.bank-calendar-month:hover, .bank-calendar-day:hover {
	cursor:pointer;
}
.color-primary {
	border-color:#2E6DA4 !important;
	background-color:#337AB7 !important;
	color:#FFFFFF;
}
.color-success {
	border-color:#4CAE4C !important;
	background-color:#5CB85C !important;
	color:#FFFFFF;
}
.color-info {
	border-color:#46B8DA !important;
	background-color:#5BC0DE !important;
	color:#FFFFFF;
}
.color-warning {
	border-color:#EEA236 !important;
	background-color:#F0AD4E !important;
	color:#FFFFFF;
}
.color-danger {
	border-color:#D43F3A !important;
	background-color:#D9534F !important;
	color:#FFFFFF;
}
.color-primary:hover {
	border-color:#204D74 !important;
	background-color:#286090 !important;
	color:#FFFFFF;
}
.color-success:hover {
	border-color:#398439 !important;
	background-color:#449D44 !important;
	color:#FFFFFF;
}
.color-info:hover {
	border-color:#269ABC !important;
	background-color:#31B0D5 !important;
	color:#FFFFFF;
}
.color-warning:hover {
	border-color:#D58512 !important;
	background-color:#EC971F !important;
	color:#FFFFFF;
}
.color-danger:hover {
	border-color:#AC2925 !important;
	background-color:#C9302C !important;
	color:#FFFFFF;
}
.bank-control-button {
	border:1px solid #B6B6B6;
	padding:4px 8px;
	display:inline-block;
	border-radius:2px;
	background-color:#FFFFFF;
	cursor:pointer;
}
.bank-control-buttonset .selected.bank-control-button {
	background-color:rgba(255,82,82,0.1);
	border-color:#FF5252;
	position:relative;
	z-index:2;
}
.bank-control-button:hover {
	background-color:#EAEAEA;
	position:relative;
}
.bank-control-buttonset > .bank-control-button {
	border-radius:0;
	margin-left:-1px;
}
.bank-control-buttonset > .bank-control-button:first-of-type {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
.bank-control-buttonset > .bank-control-button:last-of-type {
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}
.bank-control-button.toggle-on {
	box-shadow:0 0 2px #FF5252 inset;
}

.bank-control {
	min-height:1.687em;
	vertical-align:middle;
	text-align:left;
	position:relative;
}
.bank-control label {
	display:inline-block;
	font-weight:bold;
	font-family:"Gill Sans MT", "Calibri", "sans-serif";
	line-height:27px;
}
.bank-control .input {
	border:1px solid rgba(33,33,33,0.3);
	border-radius:2px;
	background-color:#FFFFFF;
	padding:6px 7px;
	vertical-align:middle;
	position:relative;
	box-shadow:0px 0px 1px rgba(33,33,33,0.3) inset;
	transition-duration:0.3s;
	margin-top:-1px;
	display:inline-block;
	width:100%;
	font-family:inherit;
	font-size:.83em;
}
.bank-control .input:focus, .bank-control .input:hover {
	border:1px solid #66AFE9;
	box-shadow:0px 0px 1px rgba(33,33,33,0.3) inset, 0px 0px 3px rgba(102,175,233,0.6);
}
.bank-control.invalid-data:after {
	content:attr(data-validation-message);
	font-size:0.8em;
	color:#FF0000;
}
.bank-control.invalid-data .input {
	border:1px solid #FF0000;
	box-shadow:0 0 1px rgba(255,0,0,0.6)inset;
}
.bank-control.invalid-data .input.hover {
	border:1px solid #9600FF;
	box-shadow:0 0 1px rgba(150,0,255,0.6);
}
.bank-control.data-type-currency input {
	padding-left:calc(1em + 6px);
}
.bank-control.data-type-currency:before {
	content:"$";
	position:absolute;
	display:inline-block;
	margin:5px 6px;
	z-index:2;
}
.bank-control-select-ul {
	border:1px solid black;
	border-radius:2px;
	background-color:#FFFFFF;
	list-style:outside none none;
	padding:0;
	margin:0;
	cursor:pointer;
	box-sizing:border-box;
	box-shadow:2px 2px 0px rgba(0, 0, 0, 0.3);
	z-index:900;
}
.bank-control-select-li {
	padding:3px 5px;
}
.bank-control-select-li:before {
	content:"";
	display:inline-block;
}
.bank-control-select-li.hover {
	background-color:rgba(255,82,82,0.1);
}
.bank-control.data-type-dropdown .dropdown-icon {
	position:absolute;
	right:0;
	margin:.1em .1em 1.6em .1em;
	cursor:pointer;
	transition-duration:.3s;
}
.bank-control.data-type-dropdown .dropdown-icon, .bank-control.data-type-dropdown input {
	cursor:pointer;
}
.bank-control.data-type-dropdown.hover .dropdown-icon {
	color:#66AFE9;
}
.bank-control-textarea textarea {
	resize:none;
	overflow:hidden;
	min-height:4em;
}
.bank-control-button span {
	font-size:.83em;
}
.bank-control-buttonset {
}
.bank-control-buttonset input {
	display:none;
}
