// colors
$color-blue-header: #303F9F;
$color-white: #FFF;
$color-menu: #C5CAE9;
$color-black: #000;
$table-header-shadow: rgba($color-black, 0.2);
$color-shadow: rgba(#b6b6b6, 0.5);
$color-accent: #FF5252;

$color-projected: #880A0A;
$color-executed: #196A19;

$color-overspend-caution: orange;
$color-overspend-danger: #f00;

// sizes
$menu-height-short: 3.125em;
$menu-height-tall: 6.25em;
$menu-width-expanded: 12.5em;
$menu-width-collapsed: 1.69em;
$viewport-padding: 0.3em;

// fonts
$header-fonts: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$text-fonts: "Gill Sans MT", "Calibri", "sans-serif";

// mixin
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin caution-stripe($color) {
    background-image: repeating-linear-gradient(135deg, transparent, transparent .188em, $color .188em, $color .375em);
    background-image: -ms-repeating-linear-gradient(135deg, transparent, transparent .188em, $color .188em, $color .375em);
}

@mixin width-slide() {
    -webkit-transition-property: width, margin-left;
    -webkit-transition-duration: .5s;
    transition-property: width, margin-left;
    transition-duration: .5s;
}

html {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: $text-fonts;
    cursor: default;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	font-family: $header-fonts;
    margin: 0;
    padding: 0;
}

.bank-banner {
	background-color: $color-blue-header;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
	z-index:65535;
	cursor: default;
	color: #FFF;
    text-align: left;
    
    height: $menu-height-short;

    .bank-header {
        margin:0 0 0 .3em;
        padding:0;
        font-variant:small-caps;
        position: absolute;
        line-height: $menu-height-short - 1.6em;
        vertical-align: middle;
    }

    .bank-navigation {
        list-style: outside none none;
        padding: 0;
        margin: .5em;
        font-family: "Gill Sans MT", "Calibri", "sans-serif";
        font-stretch: condensed;
        font-size: larger;
        text-align: right;
        
        li {
            margin: 0 .13em;
            padding: 0 .5em;
            height: 1.75em;
            line-height: 1.75em;
            display: inline-block;
            transition-duration: 0.3s;
            border: 1px solid transparent;
            opacity: 0.6;
            border-radius: 0.1em;
            cursor: pointer;
            
            &:hover {
                opacity: 1;
                border: 0.06em solid #FFF;
                box-shadow: .1em .1em 0 rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.bank-viewport {
    height: 100vh;
    width: 100vw;
    padding-top: $menu-height-short + $viewport-padding;
    
    // content area
    .bank-content {
        @include calc(width, "100% - " $menu-width-expanded);
        @include calc(height, "100%");
        background-color: $color-white;
        margin-left: $menu-width-expanded;
        padding-left: $viewport-padding;
        padding-right: $viewport-padding;
        padding-bottom: $viewport-padding;
        @include width-slide();
        
        @at-root #{selector-replace(&, '.bank-viewport', '.bank-viewport.collapsed-menu')} {
            @include calc(width, "100% - " $menu-width-collapsed);
            margin-left: $menu-width-collapsed;
        }
    }
    
    // subnavigation bar on the left side of the screen
    .bank-subnavigation-container {
        background-color: $color-menu;
        width: $menu-width-expanded;
        height: 100vh;
        position: absolute;
        margin: 0;
        left: 0;
        top: 0;
        padding-top: $menu-height-short + $viewport-padding;
        box-shadow: 0 .19em .19em rgba(0, 0, 0, 0.3);
        overflow: hidden;
        @include width-slide();
        
        @at-root #{selector-replace(&, '.bank-viewport', '.bank-viewport.collapsed-menu')} {
            width: $menu-width-collapsed;
        }
        
        .bank-subnavigation-list {
            &.list-2 {
                border-top: 1px solid rgba($color-black, .7);
            }
            width: 200px;
            list-style: outside none none;
            padding: 0;
            margin: 0;
            cursor: pointer;

            .subnav {
                color: #000;
                opacity: 0.6;
                transition-duration: .3s;
                padding: .1em;
                
                &:hover {
                    opacity: 0.9;
                    background-color: rgba(255, 255, 255, .3);
                }
                
                i {
                    vertical-align: middle;
                }
                
                span {
                    vertical-align: middle;
                }
            }
        }
    }
}

.bank-overview-container {
    display: inline-block;
    vertical-align: top;
    margin: 0 .625em .625em 0;
    border-radius: 3px 3px 2px 2px;
    overflow: hidden;
    border: 1px solid $color-black;
    
    .bank-overview-table {
        border-radius: 2px;
        border-collapse: collapse;
        margin-top: -1px;
        
        thead {
            text-align: center;
            background-color: $color-menu;
            margin-bottom: 2px;
            font-weight: bold;
            
            h3 {
                position: relative;
                text-shadow: 0.05em 0.05em 0 $table-header-shadow;
            }     
        }
           
        td {
            padding: 3px 2px;
            
            div {
                display: block;
                width: 7.5em;
                margin: 0 .5em;
            }
        }
        
        &.projected {
            th { 
                background-color: $color-projected;
                color: $color-white; 
            }
        }
        
        &.executed {
            th {
                background-color: $color-executed;
                color: $color-white;
            }
        }
    }
}

.table-banded {
    tr {
        border-top: 1px solid $color-shadow;
    }
}
.table-hover {
    tbody tr:hover {
        background-color: rgba($color-accent, 0.1);
    }
}

.tooltip {
    position: absolute;
    border: 1px #aaa solid;
    border-radius: 2px;
    background-color: #ffffcc;
    padding: 3px;
    color: $color-black;
    font-size: .9em;
    z-index: 2;
}

.currency {
    &:before {
        position: absolute;
        left: 0;
        content: "$";
    }
    
    text-align: right;
    margin-left: .8em;
 
    &:after {
        @at-root #{selector-replace(&, '.currency', '.currency.os-quarter')} {
            content:"";
            background-color: $color-overspend-caution;
            @include caution-stripe($color-black);
        }
        @at-root #{selector-replace(&, '.currency', '.currency.os-year')} {
            content: "";
            background-color: $color-overspend-danger;
            @include caution-stripe($color-overspend-danger);
        }
        position: absolute;
        top: 0;
        bottom: 0;
        right: -0.5em;
        width: .32em;
        border-radius: .125em;
        border: 1px solid $color-black;
    }
}
