html {
    font-size: 1em;
    background-color:#C5CAE9;
}

body {
    margin: 0 0 0 200px;
    min-height: 100vh;
    height:100%;
    padding: 50px 0 0 0;
    font-family: "Gill Sans MT", "Calibri", "sans-serif";
    box-shadow: 0 .19em .19em rgba(0, 0, 0, 0.3) inset;
    cursor: default;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	font-family:"Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

sup {
    position:relative;
	top:-0.2em;
	vertical-align:top;
}

.bank-banner {
	background-color: #303F9F;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
	z-index:65535;
	cursor: default;
	color: #FFF;
    text-align: left;
}

.bank-header {
	margin:.1em .3em;
	padding:0;
	font-variant:small-caps;
    position: absolute;
}

.bank-navigation {
	list-style: outside none;
	padding: 0;
	margin: .5em;
    font-family: "Gill Sans MT", "Calibri", "sans-serif";
    font-stretch: condensed;
    font-size: larger;
    text-align: right;
}

.bank-navigation li {
    margin: 0 .13em;
    padding: 0 .5em;
    height: 1.75em;
    line-height: 1.75em;
    display: inline-block;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    opacity: 0.6;
    border-radius: 0.1em;
    cursor: pointer;
}

.bank-navigation li:hover {
    opacity: 1;
    border: 0.06em solid #FFF;
    box-shadow: .1em .1em 0 rgba(0, 0, 0, 0.5);
}

.bank-subnavigation-container {
    position: absolute;
    margin: 0;
    left: 0;
    z-index: -1;
}

.bank-subnavigation-list {
    width: 200px;
    list-style: outside none none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.subnav {
    padding: .3em .6em;
    font-size: larger;
    color: #000;
    opacity: 0.6;
    transition-duration: .3s;
}

.subnav:hover {
    opacity: .9;
    background-color: rgba(255, 255, 255, .3);
}
