html {
	background-color:#C5CAE9;
}
body {
	background-color:#FFFFFF;
	margin:0 0 0 200px;
	min-height:100vh;
	height:100%;
	padding:50px 0 0 0;
	box-sizing:border-box;
	font-family:"Gill Sans MT", "Calibri", "sans-serif";
	box-shadow:0px 3px 3px rgba(0, 0, 0, 0.3) inset;
	cursor:default;
}
h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	font-family:"Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
sup {
	position:relative;
	top:-0.2em;
	vertical-align:top;
}
body.bank-subnav-collapsed {
	margin-left:27px;
	transition-duration:0.5s;
}
body.bank-subnav-expanded {
	transition-duration:0.5s;
}
.cursor-wait {
	cursor:wait;
}
.cursor-help {
	cursor:help;
}
.bank-banner {
	background-color:#303F9F;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:50px;
	cursor:default;
	box-shadow:0px 2px 1px rgba(0, 0, 0, 0.2);
	z-index:16383;
}
.bank-banner h1 {
	margin:5px 10px;
	padding:0;
	color:#FFF;
	font-variant:small-caps;
}
.bank-navigation {
	list-style:outside none none;
	padding:0;
	margin:10px;
	right:0;
	top:0;
	position:fixed;
	cursor:pointer;
	text-align:center;
}
.bank-navigation li {
	margin:0 2px;
	padding:0px 8px;
	height:28px;
	line-height:27px;
	font-size:larger;
	display:inline-block;
	color:#FFF;
	opacity:0.6;
	transition-duration:0.3s;
	border:1px solid transparent;
	border-radius:2px;
	font-family:"Gill Sans MT", "Calibri", "sans-serif";
	font-stretch: condensed;
}
.bank-navigation li:hover {
	opacity:1;
	border:1px solid white;
	box-shadow:1.5px 1.5px 0px rgba(0, 0, 0, 0.5);
}
.bank-subnavigation-container {
	position:absolute;
	margin:0;
	left:0;
	z-index:-1;
}
.bank-subnavigation-container ul {
	width:200px;
	list-style:outside none none;
	padding:0;
	margin:0;
	cursor:pointer;
	box-sizing:border-box;
}
#bank-subnavigation {
	border-top:1px solid rgba(0, 0, 0, .5);
}
.bank-subnavigation-container li {
	padding:5px 10px;
	font-size:larger;
	color:#000;
	opacity:0.6;
	transition-duration:0.3s;
}
.bank-subnavigation-container li:hover {
	opacity:0.9;
	background-color:rgba(255, 255, 255, 0.3);
	transition-duration:0.3s;
}
.bank-overview-block {
	display:inline-block;
	vertical-align:top;
	margin:10px 0px 0px 10px;
	border-radius:3px 3px 2px 2px;
	overflow:hidden;
	border:1px solid black;
}
.bank-overview-table {
	border-radius:2px;
	border-collapse:collapse;
	margin-top:-1px;
}
.bank-overview-table td {
	padding:3px 2px;
}
.bank-overview-table.projected-travel th {
	background-color:#880A0A;
	color:#FFFFFF;
}
.bank-overview-table.executed-travel th {
	background-color:#196A19;
	color:#FFFFFF;
}
.bank-overview-table.projected-training th {
	background-color:#880A0A;
	color:#FFFFFF;
}
.bank-overview-table.executed-training th {
	background-color:#196A19;
	color:#FFFFFF;
}
.bank-overview-table thead {
	text-align:center;
	background-color:#C5CAE9;
	margin-bottom:2px;
	font-weight:bold;
}
.bank-overview-table h3 {
	margin:0;
	padding:0;
	position:relative;
	text-shadow:1px 1px 0px rgba(0, 0, 0, 1);
}
.bank-form .button-bar {
	width:100%;
	text-align:center;
	margin-top:4px;
	border:1px solid transparent;
	border-top:1px solid #B6B6B6;
	padding:4px;
	box-sizing:border-box;
}
.bank-form.data-entry fieldset {
	width:560px;
}
fieldset {
	min-width:0;
	padding:0;
	border:0;
	margin:0 20px 8px;
	vertical-align:top;
	display:inline;
	text-align:left;
}
.bank-form.horizontal label {
	position:absolute;
	left:0;
	width:120px;
	word-wrap:nowrap;
}
.bank-form.horizontal .bank-control:not(.no-form-resize) {
	padding-left:125px;
}
fieldset > legend {
	display:block;
	width:100%;
	padding:0;
	margin:10px 0;
	font-size:21px;
	line-height:inherit;
	color:null;
	border-width:0 0 1px;
	border-style:none none solid;
	border-color:#B6B6B6;
	text-align:left;
}
fieldset > div {
	margin-bottom:8px;
}
.bank-form.data-entry {
	box-sizing:border-box;
	text-align:center;
}
.stick-right {
	position:absolute;
	right:0;
}
.stick-left {
	position:absolute;
	left:0;
}
.float-right {
	float:right;
}
.float-left {
	float:left;
}
.display-inline {
	display:inline;
}
.display-none {
	display:none !important;
}
.margin-none {
	margin:0;
}
.align-center {
	text-align:center;
}
.height-nil {
	height:0px !important;
}
.cursor-pointer {
	cursor:pointer;
}
.hover-active-color:hover {
	color:#66AFE9;
}
.hover-active-color:active {
	color:#FF5252;
}
.hover-active-border {
	border:1px solid transparent;
}
.hover-active-border:hover {
	color:1px solid #66AFE9;
	z-index:3;
	position:relative;
}
.hover-active-border:active {
	color:1px solid #FF5252;
	z-index:2;
	position:relative;
}
.bank-overview-table tr:before {
	content:attr(data-label);
}
.row-header:before {
	content:attr(data-label);
}
.row-header {
	background-color:#C5CAE9;
	font-weight:bold;
}
.bank-overview-table span.travel-cost {
	display:block;
	text-align:right;
	position:relative;
	width:7.5em;
	margin:0px 8px;
}
.bank-overview-table span.travel-allocated {
	display:block;
	text-align:right;
	position:relative;
	width:7.5em;
	margin:0px 8px;
}
.travel-cost:before {
	content:"$";
	position:absolute;
	left:0px;
}
.travel-allocated:before {
	content:"$";
	position:absolute;
	left:0px;
}
.bank-overview-table span.training-cost {
	display:block;
	text-align:right;
	position:relative;
	width:7.5em;
	margin:0px 8px;
}
.bank-overview-table span.training-allocated {
	display:block;
	text-align:right;
	position:relative;
	width:7.5em;
	margin:0px 8px;
}
.training-cost:before {
	content:"$";
	position:absolute;
	left:0px;
}
.training-allocated:before {
	content:"$";
	position:absolute;
	left:0px;
}
.table-hover tbody tr:hover {
	background-color:rgba(255,82,82,0.1);
}
.table-banded tr {
	border-top:1px solid rgba(182,182,182,0.5);
}
.bank-tooltip {
	position:absolute;
	border:1px #aaaaaa solid;
	border-radius:2px;
	background-color:#ffffcc;
	padding:3px;
	color:#000000;
	font-size:14px;
	z-index:1;
}
.bank-overflow-tab {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	width:5px;
	border-radius:2px;
	border:1px solid black;
	background-color:orange;
	background-image:repeating-linear-gradient(135deg, transparent, transparent 3px, black 3px, black 6px);
	background-image:-ms-repeating-linear-gradient(135deg, transparent, transparent 3px, black 3px, black 6px);
}
.bank-overflow-tab.overflow-annual {
	background:#F00;
}
.position-relative {
	position:relative;
}
.bank-calendar {
	width:212px;
	background-color:#FFFFFF;
	border:1px solid #B6B6B6;
	z-index:999;
}
.bank-calendar > div {
	border-top:1px solid #B6B6B6;
}
.bank-calendar-weekday {
	border-bottom:1px solid #B6B6B6;
}
.bank-calendar-day, .bank-calendar-weekday {
	width:calc(100% / 7);
	height:30px;
	display:inline-block;
	line-height:30px;
	text-align:center;
}
.bank-calendar-month {
	width:52.5px;
	height:52.5px;
	border:1px solid transparent;
	text-align:center;
	line-height:52.5px;
	display:inline-block;
}
.bank-calendar-month.selected, .bank-calendar-day.selected {
	border-color:#FF5252;
}
.bank-calendar-month:hover, .bank-calendar-day:hover {
	cursor:pointer;
}
.color-primary {
	border-color:#2E6DA4 !important;
	background-color:#337AB7 !important;
	color:#FFFFFF;
}
.color-success {
	border-color:#4CAE4C !important;
	background-color:#5CB85C !important;
	color:#FFFFFF;
}
.color-info {
	border-color:#46B8DA !important;
	background-color:#5BC0DE !important;
	color:#FFFFFF;
}
.color-warning {
	border-color:#EEA236 !important;
	background-color:#F0AD4E !important;
	color:#FFFFFF;
}
.color-danger {
	border-color:#D43F3A !important;
	background-color:#D9534F !important;
	color:#FFFFFF;
}
.color-primary:hover {
	border-color:#204D74 !important;
	background-color:#286090 !important;
	color:#FFFFFF;
}
.color-success:hover {
	border-color:#398439 !important;
	background-color:#449D44 !important;
	color:#FFFFFF;
}
.color-info:hover {
	border-color:#269ABC !important;
	background-color:#31B0D5 !important;
	color:#FFFFFF;
}
.color-warning:hover {
	border-color:#D58512 !important;
	background-color:#EC971F !important;
	color:#FFFFFF;
}
.color-danger:hover {
	border-color:#AC2925 !important;
	background-color:#C9302C !important;
	color:#FFFFFF;
}
.bank-control-button {
	border:1px solid #B6B6B6;
	padding:4px 8px;
	display:inline-block;
	border-radius:2px;
	background-color:#FFFFFF;
	cursor:pointer;
}
.bank-control-buttonset .selected.bank-control-button {
	background-color:rgba(255,82,82,0.1);
	border-color:#FF5252;
	position:relative;
	z-index:2;
}
.bank-control-button:hover {
	background-color:#EAEAEA;
	position:relative;
}
.bank-control-buttonset > .bank-control-button {
	border-radius:0;
	margin-left:-1px;
}
.bank-control-buttonset > .bank-control-button:first-of-type {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
.bank-control-buttonset > .bank-control-button:last-of-type {
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}
.bank-control-button.toggle-on {
	box-shadow:0 0 2px #FF5252 inset;
}
.material-icon, .material-icon-suffix:after {
	font-family:Material Icons;
	font-weight:normal;
	font-style:normal;
	font-size:24px;
	display:inline-block;
	width:1em;
	height:1em;
	line-height:1;
	text-transform:none;
	letter-spacing:normal;
	word-wrap:normal;
	white-space:nowrap;
	direction:ltr;
	vertical-align:midle;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	-moz-osx-font-smoothing:greyscale;
	font-feature-settings:liga;
}
.icon-3d-rotation:after {
	content:"\e84d";
}
.icon-ac-unit:after {
	content:"\eb3b";
}
.icon-access-alarm:after {
	content:"\e190";
}
.icon-access-alarms:after {
	content:"\e191";
}
.icon-access-time:after {
	content:"\e192";
}
.icon-accessibility:after {
	content:"\e84e";
}
.icon-accessible:after {
	content:"\e914";
}
.icon-account-balance:after {
	content:"\e84f";
}
.icon-account-balance-wallet:after {
	content:"\e850";
}
.icon-account-box:after {
	content:"\e851";
}
.icon-account-circle:after {
	content:"\e853";
}
.icon-adb:after {
	content:"\e60e";
}
.icon-add:after {
	content:"\e145";
}
.icon-add-a-photo:after {
	content:"\e439";
}
.icon-add-alarm:after {
	content:"\e193";
}
.icon-add-alert:after {
	content:"\e003";
}
.icon-add-box:after {
	content:"\e146";
}
.icon-add-circle:after {
	content:"\e147";
}
.icon-add-circle-outline:after {
	content:"\e148";
}
.icon-add-location:after {
	content:"\e567";
}
.icon-add-shopping-cart:after {
	content:"\e854";
}
.icon-add-to-photos:after {
	content:"\e39d";
}
.icon-add-to-queue:after {
	content:"\e05c";
}
.icon-adjust:after {
	content:"\e39e";
}
.icon-airline-seat-flat:after {
	content:"\e630";
}
.icon-airline-seat-flat-angled:after {
	content:"\e631";
}
.icon-airline-seat-individual-suite:after {
	content:"\e632";
}
.icon-airline-seat-legroom-extra:after {
	content:"\e633";
}
.icon-airline-seat-legroom-normal:after {
	content:"\e634";
}
.icon-airline-seat-legroom-reduced:after {
	content:"\e635";
}
.icon-airline-seat-recline-extra:after {
	content:"\e636";
}
.icon-airline-seat-recline-normal:after {
	content:"\e637";
}
.icon-airplanemode-active:after {
	content:"\e195";
}
.icon-airplanemode-inactive:after {
	content:"\e194";
}
.icon-airplay:after {
	content:"\e055";
}
.icon-airport-shuttle:after {
	content:"\eb3c";
}
.icon-alarm:after {
	content:"\e855";
}
.icon-alarm-add:after {
	content:"\e856";
}
.icon-alarm-off:after {
	content:"\e857";
}
.icon-alarm-on:after {
	content:"\e858";
}
.icon-album:after {
	content:"\e019";
}
.icon-all-inclusive:after {
	content:"\eb3d";
}
.icon-all-out:after {
	content:"\e90b";
}
.icon-android:after {
	content:"\e859";
}
.icon-announcement:after {
	content:"\e85a";
}
.icon-apps:after {
	content:"\e5c3";
}
.icon-archive:after {
	content:"\e149";
}
.icon-arrow-back:after {
	content:"\e5c4";
}
.icon-arrow-downward:after {
	content:"\e5db";
}
.icon-arrow-drop-down:after {
	content:"\e5c5";
}
.icon-arrow-drop-down-circle:after {
	content:"\e5c6";
}
.icon-arrow-drop-up:after {
	content:"\e5c7";
}
.icon-arrow-forward:after {
	content:"\e5c8";
}
.icon-arrow-upward:after {
	content:"\e5d8";
}
.icon-art-track:after {
	content:"\e060";
}
.icon-aspect-ratio:after {
	content:"\e85b";
}
.icon-assessment:after {
	content:"\e85c";
}
.icon-assignment:after {
	content:"\e85d";
}
.icon-assignment-ind:after {
	content:"\e85e";
}
.icon-assignment-late:after {
	content:"\e85f";
}
.icon-assignment-return:after {
	content:"\e860";
}
.icon-assignment-returned:after {
	content:"\e861";
}
.icon-assignment-turned-in:after {
	content:"\e862";
}
.icon-assistant:after {
	content:"\e39f";
}
.icon-assistant-photo:after {
	content:"\e3a0";
}
.icon-attach-file:after {
	content:"\e226";
}
.icon-attach-money:after {
	content:"\e227";
}
.icon-attachment:after {
	content:"\e2bc";
}
.icon-audiotrack:after {
	content:"\e3a1";
}
.icon-autorenew:after {
	content:"\e863";
}
.icon-av-timer:after {
	content:"\e01b";
}
.icon-backspace:after {
	content:"\e14a";
}
.icon-backup:after {
	content:"\e864";
}
.icon-battery-alert:after {
	content:"\e19c";
}
.icon-battery-charging-full:after {
	content:"\e1a3";
}
.icon-battery-full:after {
	content:"\e1a4";
}
.icon-battery-std:after {
	content:"\e1a5";
}
.icon-battery-unknown:after {
	content:"\e1a6";
}
.icon-beach-access:after {
	content:"\eb3e";
}
.icon-beenhere:after {
	content:"\e52d";
}
.icon-block:after {
	content:"\e14b";
}
.icon-bluetooth:after {
	content:"\e1a7";
}
.icon-bluetooth-audio:after {
	content:"\e60f";
}
.icon-bluetooth-connected:after {
	content:"\e1a8";
}
.icon-bluetooth-disabled:after {
	content:"\e1a9";
}
.icon-bluetooth-searching:after {
	content:"\e1aa";
}
.icon-blur-circular:after {
	content:"\e3a2";
}
.icon-blur-linear:after {
	content:"\e3a3";
}
.icon-blur-off:after {
	content:"\e3a4";
}
.icon-blur-on:after {
	content:"\e3a5";
}
.icon-book:after {
	content:"\e865";
}
.icon-bookmark:after {
	content:"\e866";
}
.icon-bookmark-border:after {
	content:"\e867";
}
.icon-border-all:after {
	content:"\e228";
}
.icon-border-bottom:after {
	content:"\e229";
}
.icon-border-clear:after {
	content:"\e22a";
}
.icon-border-color:after {
	content:"\e22b";
}
.icon-border-horizontal:after {
	content:"\e22c";
}
.icon-border-inner:after {
	content:"\e22d";
}
.icon-border-left:after {
	content:"\e22e";
}
.icon-border-outer:after {
	content:"\e22f";
}
.icon-border-right:after {
	content:"\e230";
}
.icon-border-style:after {
	content:"\e231";
}
.icon-border-top:after {
	content:"\e232";
}
.icon-border-vertical:after {
	content:"\e233";
}
.icon-brightness-1:after {
	content:"\e3a6";
}
.icon-brightness-2:after {
	content:"\e3a7";
}
.icon-brightness-3:after {
	content:"\e3a8";
}
.icon-brightness-4:after {
	content:"\e3a9";
}
.icon-brightness-5:after {
	content:"\e3aa";
}
.icon-brightness-6:after {
	content:"\e3ab";
}
.icon-brightness-7:after {
	content:"\e3ac";
}
.icon-brightness-auto:after {
	content:"\e1ab";
}
.icon-brightness-high:after {
	content:"\e1ac";
}
.icon-brightness-low:after {
	content:"\e1ad";
}
.icon-brightness-medium:after {
	content:"\e1ae";
}
.icon-broken-image:after {
	content:"\e3ad";
}
.icon-brush:after {
	content:"\e3ae";
}
.icon-bug-report:after {
	content:"\e868";
}
.icon-build:after {
	content:"\e869";
}
.icon-business:after {
	content:"\e0af";
}
.icon-business-center:after {
	content:"\eb3f";
}
.icon-cached:after {
	content:"\e86a";
}
.icon-cake:after {
	content:"\e7e9";
}
.icon-call:after {
	content:"\e0b0";
}
.icon-call-end:after {
	content:"\e0b1";
}
.icon-call-made:after {
	content:"\e0b2";
}
.icon-call-merge:after {
	content:"\e0b3";
}
.icon-call-missed:after {
	content:"\e0b4";
}
.icon-call-missed-outgoing:after {
	content:"\e0e4";
}
.icon-call-received:after {
	content:"\e0b5";
}
.icon-call-split:after {
	content:"\e0b6";
}
.icon-camera:after {
	content:"\e3af";
}
.icon-camera-alt:after {
	content:"\e3b0";
}
.icon-camera-enhance:after {
	content:"\e8fc";
}
.icon-camera-front:after {
	content:"\e3b1";
}
.icon-camera-rear:after {
	content:"\e3b2";
}
.icon-camera-roll:after {
	content:"\e3b3";
}
.icon-cancel:after {
	content:"\e5c9";
}
.icon-card-giftcard:after {
	content:"\e8f6";
}
.icon-card-membership:after {
	content:"\e8f7";
}
.icon-card-travel:after {
	content:"\e8f8";
}
.icon-casino:after {
	content:"\eb40";
}
.icon-cast:after {
	content:"\e307";
}
.icon-cast-connected:after {
	content:"\e308";
}
.icon-center-focus-strong:after {
	content:"\e3b4";
}
.icon-center-focus-weak:after {
	content:"\e3b5";
}
.icon-change-history:after {
	content:"\e86b";
}
.icon-chat:after {
	content:"\e0b7";
}
.icon-chat-bubble:after {
	content:"\e0ca";
}
.icon-chat-bubble-outline:after {
	content:"\e0cb";
}
.icon-check:after {
	content:"\e5ca";
}
.icon-check-box:after {
	content:"\e834";
}
.icon-check-box-outline-blank:after {
	content:"\e835";
}
.icon-check-circle:after {
	content:"\e86c";
}
.icon-chevron-left:after {
	content:"\e5cb";
}
.icon-chevron-right:after {
	content:"\e5cc";
}
.icon-child-care:after {
	content:"\eb41";
}
.icon-child-friendly:after {
	content:"\eb42";
}
.icon-chrome-reader-mode:after {
	content:"\e86d";
}
.icon-class:after {
	content:"\e86e";
}
.icon-clear:after {
	content:"\e14c";
}
.icon-clear-all:after {
	content:"\e0b8";
}
.icon-close:after {
	content:"\e5cd";
}
.icon-closed-caption:after {
	content:"\e01c";
}
.icon-cloud:after {
	content:"\e2bd";
}
.icon-cloud-circle:after {
	content:"\e2be";
}
.icon-cloud-done:after {
	content:"\e2bf";
}
.icon-cloud-download:after {
	content:"\e2c0";
}
.icon-cloud-off:after {
	content:"\e2c1";
}
.icon-cloud-queue:after {
	content:"\e2c2";
}
.icon-cloud-upload:after {
	content:"\e2c3";
}
.icon-code:after {
	content:"\e86f";
}
.icon-collections:after {
	content:"\e3b6";
}
.icon-collections-bookmark:after {
	content:"\e431";
}
.icon-color-lens:after {
	content:"\e3b7";
}
.icon-colorize:after {
	content:"\e3b8";
}
.icon-comment:after {
	content:"\e0b9";
}
.icon-compare:after {
	content:"\e3b9";
}
.icon-compare-arrows:after {
	content:"\e915";
}
.icon-computer:after {
	content:"\e30a";
}
.icon-confirmation-number:after {
	content:"\e638";
}
.icon-contact-mail:after {
	content:"\e0d0";
}
.icon-contact-phone:after {
	content:"\e0cf";
}
.icon-contacts:after {
	content:"\e0ba";
}
.icon-content-copy:after {
	content:"\e14d";
}
.icon-content-cut:after {
	content:"\e14e";
}
.icon-content-paste:after {
	content:"\e14f";
}
.icon-control-point:after {
	content:"\e3ba";
}
.icon-control-point-duplicate:after {
	content:"\e3bb";
}
.icon-copyright:after {
	content:"\e90c";
}
.icon-create:after {
	content:"\e150";
}
.icon-create-new-folder:after {
	content:"\e2cc";
}
.icon-credit-card:after {
	content:"\e870";
}
.icon-crop:after {
	content:"\e3be";
}
.icon-crop-16-9:after {
	content:"\e3bc";
}
.icon-crop-3-2:after {
	content:"\e3bd";
}
.icon-crop-5-4:after {
	content:"\e3bf";
}
.icon-crop-7-5:after {
	content:"\e3c0";
}
.icon-crop-din:after {
	content:"\e3c1";
}
.icon-crop-free:after {
	content:"\e3c2";
}
.icon-crop-landscape:after {
	content:"\e3c3";
}
.icon-crop-original:after {
	content:"\e3c4";
}
.icon-crop-portrait:after {
	content:"\e3c5";
}
.icon-crop-rotate:after {
	content:"\e437";
}
.icon-crop-square:after {
	content:"\e3c6";
}
.icon-dashboard:after {
	content:"\e871";
}
.icon-data-usage:after {
	content:"\e1af";
}
.icon-date-range:after {
	content:"\e916";
}
.icon-dehaze:after {
	content:"\e3c7";
}
.icon-delete:after {
	content:"\e872";
}
.icon-description:after {
	content:"\e873";
}
.icon-desktop-mac:after {
	content:"\e30b";
}
.icon-desktop-windows:after {
	content:"\e30c";
}
.icon-details:after {
	content:"\e3c8";
}
.icon-developer-board:after {
	content:"\e30d";
}
.icon-developer-mode:after {
	content:"\e1b0";
}
.icon-device-hub:after {
	content:"\e335";
}
.icon-devices:after {
	content:"\e1b1";
}
.icon-devices-other:after {
	content:"\e337";
}
.icon-dialer-sip:after {
	content:"\e0bb";
}
.icon-dialpad:after {
	content:"\e0bc";
}
.icon-directions:after {
	content:"\e52e";
}
.icon-directions-bike:after {
	content:"\e52f";
}
.icon-directions-boat:after {
	content:"\e532";
}
.icon-directions-bus:after {
	content:"\e530";
}
.icon-directions-car:after {
	content:"\e531";
}
.icon-directions-railway:after {
	content:"\e534";
}
.icon-directions-run:after {
	content:"\e566";
}
.icon-directions-subway:after {
	content:"\e533";
}
.icon-directions-transit:after {
	content:"\e535";
}
.icon-directions-walk:after {
	content:"\e536";
}
.icon-disc-full:after {
	content:"\e610";
}
.icon-dns:after {
	content:"\e875";
}
.icon-do-not-disturb:after {
	content:"\e612";
}
.icon-do-not-disturb-alt:after {
	content:"\e611";
}
.icon-dock:after {
	content:"\e30e";
}
.icon-domain:after {
	content:"\e7ee";
}
.icon-done:after {
	content:"\e876";
}
.icon-done-all:after {
	content:"\e877";
}
.icon-donut-large:after {
	content:"\e917";
}
.icon-donut-small:after {
	content:"\e918";
}
.icon-drafts:after {
	content:"\e151";
}
.icon-drag-handle:after {
	content:"\e25d";
}
.icon-drive-eta:after {
	content:"\e613";
}
.icon-dvr:after {
	content:"\e1b2";
}
.icon-edit:after {
	content:"\e3c9";
}
.icon-edit-location:after {
	content:"\e568";
}
.icon-eject:after {
	content:"\e8fb";
}
.icon-email:after {
	content:"\e0be";
}
.icon-enhanced-encryption:after {
	content:"\e63f";
}
.icon-equalizer:after {
	content:"\e01d";
}
.icon-error:after {
	content:"\e000";
}
.icon-error-outline:after {
	content:"\e001";
}
.icon-event:after {
	content:"\e878";
}
.icon-event-available:after {
	content:"\e614";
}
.icon-event-busy:after {
	content:"\e615";
}
.icon-event-note:after {
	content:"\e616";
}
.icon-event-seat:after {
	content:"\e903";
}
.icon-exit-to-app:after {
	content:"\e879";
}
.icon-expand-less:after {
	content:"\e5ce";
}
.icon-expand-more:after {
	content:"\e5cf";
}
.icon-explicit:after {
	content:"\e01e";
}
.icon-explore:after {
	content:"\e87a";
}
.icon-exposure:after {
	content:"\e3ca";
}
.icon-exposure-neg-1:after {
	content:"\e3cb";
}
.icon-exposure-neg-2:after {
	content:"\e3cc";
}
.icon-exposure-plus-1:after {
	content:"\e3cd";
}
.icon-exposure-plus-2:after {
	content:"\e3ce";
}
.icon-exposure-zero:after {
	content:"\e3cf";
}
.icon-extension:after {
	content:"\e87b";
}
.icon-face:after {
	content:"\e87c";
}
.icon-fast-forward:after {
	content:"\e01f";
}
.icon-fast-rewind:after {
	content:"\e020";
}
.icon-favorite:after {
	content:"\e87d";
}
.icon-favorite-border:after {
	content:"\e87e";
}
.icon-feedback:after {
	content:"\e87f";
}
.icon-fiber-dvr:after {
	content:"\e05d";
}
.icon-fiber-manual-record:after {
	content:"\e061";
}
.icon-fiber-new:after {
	content:"\e05e";
}
.icon-fiber-pin:after {
	content:"\e06a";
}
.icon-fiber-smart-record:after {
	content:"\e062";
}
.icon-file-download:after {
	content:"\e2c4";
}
.icon-file-upload:after {
	content:"\e2c6";
}
.icon-filter:after {
	content:"\e3d3";
}
.icon-filter-1:after {
	content:"\e3d0";
}
.icon-filter-2:after {
	content:"\e3d1";
}
.icon-filter-3:after {
	content:"\e3d2";
}
.icon-filter-4:after {
	content:"\e3d4";
}
.icon-filter-5:after {
	content:"\e3d5";
}
.icon-filter-6:after {
	content:"\e3d6";
}
.icon-filter-7:after {
	content:"\e3d7";
}
.icon-filter-8:after {
	content:"\e3d8";
}
.icon-filter-9:after {
	content:"\e3d9";
}
.icon-filter-9-plus:after {
	content:"\e3da";
}
.icon-filter-b-and-w:after {
	content:"\e3db";
}
.icon-filter-center-focus:after {
	content:"\e3dc";
}
.icon-filter-drama:after {
	content:"\e3dd";
}
.icon-filter-frames:after {
	content:"\e3de";
}
.icon-filter-hdr:after {
	content:"\e3df";
}
.icon-filter-list:after {
	content:"\e152";
}
.icon-filter-none:after {
	content:"\e3e0";
}
.icon-filter-tilt-shift:after {
	content:"\e3e2";
}
.icon-filter-vintage:after {
	content:"\e3e3";
}
.icon-find-in-page:after {
	content:"\e880";
}
.icon-find-replace:after {
	content:"\e881";
}
.icon-fingerprint:after {
	content:"\e90d";
}
.icon-fitness-center:after {
	content:"\eb43";
}
.icon-flag:after {
	content:"\e153";
}
.icon-flare:after {
	content:"\e3e4";
}
.icon-flash-auto:after {
	content:"\e3e5";
}
.icon-flash-off:after {
	content:"\e3e6";
}
.icon-flash-on:after {
	content:"\e3e7";
}
.icon-flight:after {
	content:"\e539";
}
.icon-flight-land:after {
	content:"\e904";
}
.icon-flight-takeoff:after {
	content:"\e905";
}
.icon-flip:after {
	content:"\e3e8";
}
.icon-flip-to-back:after {
	content:"\e882";
}
.icon-flip-to-front:after {
	content:"\e883";
}
.icon-folder:after {
	content:"\e2c7";
}
.icon-folder-open:after {
	content:"\e2c8";
}
.icon-folder-shared:after {
	content:"\e2c9";
}
.icon-folder-special:after {
	content:"\e617";
}
.icon-font-download:after {
	content:"\e167";
}
.icon-format-align-center:after {
	content:"\e234";
}
.icon-format-align-justify:after {
	content:"\e235";
}
.icon-format-align-left:after {
	content:"\e236";
}
.icon-format-align-right:after {
	content:"\e237";
}
.icon-format-bold:after {
	content:"\e238";
}
.icon-format-clear:after {
	content:"\e239";
}
.icon-format-color-fill:after {
	content:"\e23a";
}
.icon-format-color-reset:after {
	content:"\e23b";
}
.icon-format-color-text:after {
	content:"\e23c";
}
.icon-format-indent-decrease:after {
	content:"\e23d";
}
.icon-format-indent-increase:after {
	content:"\e23e";
}
.icon-format-italic:after {
	content:"\e23f";
}
.icon-format-line-spacing:after {
	content:"\e240";
}
.icon-format-list-bulleted:after {
	content:"\e241";
}
.icon-format-list-numbered:after {
	content:"\e242";
}
.icon-format-paint:after {
	content:"\e243";
}
.icon-format-quote:after {
	content:"\e244";
}
.icon-format-shapes:after {
	content:"\e25e";
}
.icon-format-size:after {
	content:"\e245";
}
.icon-format-strikethrough:after {
	content:"\e246";
}
.icon-format-textdirection-l-to-r:after {
	content:"\e247";
}
.icon-format-textdirection-r-to-l:after {
	content:"\e248";
}
.icon-format-underlined:after {
	content:"\e249";
}
.icon-forum:after {
	content:"\e0bf";
}
.icon-forward:after {
	content:"\e154";
}
.icon-forward-10:after {
	content:"\e056";
}
.icon-forward-30:after {
	content:"\e057";
}
.icon-forward-5:after {
	content:"\e058";
}
.icon-free-breakfast:after {
	content:"\eb44";
}
.icon-fullscreen:after {
	content:"\e5d0";
}
.icon-fullscreen-exit:after {
	content:"\e5d1";
}
.icon-functions:after {
	content:"\e24a";
}
.icon-gamepad:after {
	content:"\e30f";
}
.icon-games:after {
	content:"\e021";
}
.icon-gavel:after {
	content:"\e90e";
}
.icon-gesture:after {
	content:"\e155";
}
.icon-get-app:after {
	content:"\e884";
}
.icon-gif:after {
	content:"\e908";
}
.icon-golf-course:after {
	content:"\eb45";
}
.icon-gps-fixed:after {
	content:"\e1b3";
}
.icon-gps-not-fixed:after {
	content:"\e1b4";
}
.icon-gps-off:after {
	content:"\e1b5";
}
.icon-grade:after {
	content:"\e885";
}
.icon-gradient:after {
	content:"\e3e9";
}
.icon-grain:after {
	content:"\e3ea";
}
.icon-graphic-eq:after {
	content:"\e1b8";
}
.icon-grid-off:after {
	content:"\e3eb";
}
.icon-grid-on:after {
	content:"\e3ec";
}
.icon-group:after {
	content:"\e7ef";
}
.icon-group-add:after {
	content:"\e7f0";
}
.icon-group-work:after {
	content:"\e886";
}
.icon-hd:after {
	content:"\e052";
}
.icon-hdr-off:after {
	content:"\e3ed";
}
.icon-hdr-on:after {
	content:"\e3ee";
}
.icon-hdr-strong:after {
	content:"\e3f1";
}
.icon-hdr-weak:after {
	content:"\e3f2";
}
.icon-headset:after {
	content:"\e310";
}
.icon-headset-mic:after {
	content:"\e311";
}
.icon-healing:after {
	content:"\e3f3";
}
.icon-hearing:after {
	content:"\e023";
}
.icon-help:after {
	content:"\e887";
}
.icon-help-outline:after {
	content:"\e8fd";
}
.icon-high-quality:after {
	content:"\e024";
}
.icon-highlight:after {
	content:"\e25f";
}
.icon-highlight-off:after {
	content:"\e888";
}
.icon-history:after {
	content:"\e889";
}
.icon-home:after {
	content:"\e88a";
}
.icon-hot-tub:after {
	content:"\eb46";
}
.icon-hotel:after {
	content:"\e53a";
}
.icon-hourglass-empty:after {
	content:"\e88b";
}
.icon-hourglass-full:after {
	content:"\e88c";
}
.icon-http:after {
	content:"\e902";
}
.icon-https:after {
	content:"\e88d";
}
.icon-image:after {
	content:"\e3f4";
}
.icon-image-aspect-ratio:after {
	content:"\e3f5";
}
.icon-import-contacts:after {
	content:"\e0e0";
}
.icon-import-export:after {
	content:"\e0c3";
}
.icon-important-devices:after {
	content:"\e912";
}
.icon-inbox:after {
	content:"\e156";
}
.icon-indeterminate-check-box:after {
	content:"\e909";
}
.icon-info:after {
	content:"\e88e";
}
.icon-info-outline:after {
	content:"\e88f";
}
.icon-input:after {
	content:"\e890";
}
.icon-insert-chart:after {
	content:"\e24b";
}
.icon-insert-comment:after {
	content:"\e24c";
}
.icon-insert-drive-file:after {
	content:"\e24d";
}
.icon-insert-emoticon:after {
	content:"\e24e";
}
.icon-insert-invitation:after {
	content:"\e24f";
}
.icon-insert-link:after {
	content:"\e250";
}
.icon-insert-photo:after {
	content:"\e251";
}
.icon-invert-colors:after {
	content:"\e891";
}
.icon-invert-colors-off:after {
	content:"\e0c4";
}
.icon-iso:after {
	content:"\e3f6";
}
.icon-keyboard:after {
	content:"\e312";
}
.icon-keyboard-arrow-down:after {
	content:"\e313";
}
.icon-keyboard-arrow-left:after {
	content:"\e314";
}
.icon-keyboard-arrow-right:after {
	content:"\e315";
}
.icon-keyboard-arrow-up:after {
	content:"\e316";
}
.icon-keyboard-backspace:after {
	content:"\e317";
}
.icon-keyboard-capslock:after {
	content:"\e318";
}
.icon-keyboard-hide:after {
	content:"\e31a";
}
.icon-keyboard-return:after {
	content:"\e31b";
}
.icon-keyboard-tab:after {
	content:"\e31c";
}
.icon-keyboard-voice:after {
	content:"\e31d";
}
.icon-kitchen:after {
	content:"\eb47";
}
.icon-label:after {
	content:"\e892";
}
.icon-label-outline:after {
	content:"\e893";
}
.icon-landscape:after {
	content:"\e3f7";
}
.icon-language:after {
	content:"\e894";
}
.icon-laptop:after {
	content:"\e31e";
}
.icon-laptop-chromebook:after {
	content:"\e31f";
}
.icon-laptop-mac:after {
	content:"\e320";
}
.icon-laptop-windows:after {
	content:"\e321";
}
.icon-launch:after {
	content:"\e895";
}
.icon-layers:after {
	content:"\e53b";
}
.icon-layers-clear:after {
	content:"\e53c";
}
.icon-leak-add:after {
	content:"\e3f8";
}
.icon-leak-remove:after {
	content:"\e3f9";
}
.icon-lens:after {
	content:"\e3fa";
}
.icon-library-add:after {
	content:"\e02e";
}
.icon-library-books:after {
	content:"\e02f";
}
.icon-library-music:after {
	content:"\e030";
}
.icon-lightbulb-outline:after {
	content:"\e90f";
}
.icon-line-style:after {
	content:"\e919";
}
.icon-line-weight:after {
	content:"\e91a";
}
.icon-linear-scale:after {
	content:"\e260";
}
.icon-link:after {
	content:"\e157";
}
.icon-linked-camera:after {
	content:"\e438";
}
.icon-list:after {
	content:"\e896";
}
.icon-live-help:after {
	content:"\e0c6";
}
.icon-live-tv:after {
	content:"\e639";
}
.icon-local-activity:after {
	content:"\e53f";
}
.icon-local-airport:after {
	content:"\e53d";
}
.icon-local-atm:after {
	content:"\e53e";
}
.icon-local-bar:after {
	content:"\e540";
}
.icon-local-cafe:after {
	content:"\e541";
}
.icon-local-car-wash:after {
	content:"\e542";
}
.icon-local-convenience-store:after {
	content:"\e543";
}
.icon-local-dining:after {
	content:"\e556";
}
.icon-local-drink:after {
	content:"\e544";
}
.icon-local-florist:after {
	content:"\e545";
}
.icon-local-gas-station:after {
	content:"\e546";
}
.icon-local-grocery-store:after {
	content:"\e547";
}
.icon-local-hospital:after {
	content:"\e548";
}
.icon-local-hotel:after {
	content:"\e549";
}
.icon-local-laundry-service:after {
	content:"\e54a";
}
.icon-local-library:after {
	content:"\e54b";
}
.icon-local-mall:after {
	content:"\e54c";
}
.icon-local-movies:after {
	content:"\e54d";
}
.icon-local-offer:after {
	content:"\e54e";
}
.icon-local-parking:after {
	content:"\e54f";
}
.icon-local-pharmacy:after {
	content:"\e550";
}
.icon-local-phone:after {
	content:"\e551";
}
.icon-local-pizza:after {
	content:"\e552";
}
.icon-local-play:after {
	content:"\e553";
}
.icon-local-post-office:after {
	content:"\e554";
}
.icon-local-printshop:after {
	content:"\e555";
}
.icon-local-see:after {
	content:"\e557";
}
.icon-local-shipping:after {
	content:"\e558";
}
.icon-local-taxi:after {
	content:"\e559";
}
.icon-location-city:after {
	content:"\e7f1";
}
.icon-location-disabled:after {
	content:"\e1b6";
}
.icon-location-off:after {
	content:"\e0c7";
}
.icon-location-on:after {
	content:"\e0c8";
}
.icon-location-searching:after {
	content:"\e1b7";
}
.icon-lock:after {
	content:"\e897";
}
.icon-lock-open:after {
	content:"\e898";
}
.icon-lock-outline:after {
	content:"\e899";
}
.icon-looks:after {
	content:"\e3fc";
}
.icon-looks-3:after {
	content:"\e3fb";
}
.icon-looks-4:after {
	content:"\e3fd";
}
.icon-looks-5:after {
	content:"\e3fe";
}
.icon-looks-6:after {
	content:"\e3ff";
}
.icon-looks-one:after {
	content:"\e400";
}
.icon-looks-two:after {
	content:"\e401";
}
.icon-loop:after {
	content:"\e028";
}
.icon-loupe:after {
	content:"\e402";
}
.icon-loyalty:after {
	content:"\e89a";
}
.icon-mail:after {
	content:"\e158";
}
.icon-mail-outline:after {
	content:"\e0e1";
}
.icon-map:after {
	content:"\e55b";
}
.icon-markunread:after {
	content:"\e159";
}
.icon-markunread-mailbox:after {
	content:"\e89b";
}
.icon-memory:after {
	content:"\e322";
}
.icon-menu:after {
	content:"\e5d2";
}
.icon-merge-type:after {
	content:"\e252";
}
.icon-message:after {
	content:"\e0c9";
}
.icon-mic:after {
	content:"\e029";
}
.icon-mic-none:after {
	content:"\e02a";
}
.icon-mic-off:after {
	content:"\e02b";
}
.icon-mms:after {
	content:"\e618";
}
.icon-mode-comment:after {
	content:"\e253";
}
.icon-mode-edit:after {
	content:"\e254";
}
.icon-money-off:after {
	content:"\e25c";
}
.icon-monochrome-photos:after {
	content:"\e403";
}
.icon-mood:after {
	content:"\e7f2";
}
.icon-mood-bad:after {
	content:"\e7f3";
}
.icon-more:after {
	content:"\e619";
}
.icon-more-horiz:after {
	content:"\e5d3";
}
.icon-more-vert:after {
	content:"\e5d4";
}
.icon-motorcycle:after {
	content:"\e91b";
}
.icon-mouse:after {
	content:"\e323";
}
.icon-move-to-inbox:after {
	content:"\e168";
}
.icon-movie:after {
	content:"\e02c";
}
.icon-movie-creation:after {
	content:"\e404";
}
.icon-movie-filter:after {
	content:"\e43a";
}
.icon-music-note:after {
	content:"\e405";
}
.icon-music-video:after {
	content:"\e063";
}
.icon-my-location:after {
	content:"\e55c";
}
.icon-nature:after {
	content:"\e406";
}
.icon-nature-people:after {
	content:"\e407";
}
.icon-navigate-before:after {
	content:"\e408";
}
.icon-navigate-next:after {
	content:"\e409";
}
.icon-navigation:after {
	content:"\e55d";
}
.icon-near-me:after {
	content:"\e569";
}
.icon-network-cell:after {
	content:"\e1b9";
}
.icon-network-check:after {
	content:"\e640";
}
.icon-network-locked:after {
	content:"\e61a";
}
.icon-network-wifi:after {
	content:"\e1ba";
}
.icon-new-releases:after {
	content:"\e031";
}
.icon-next-week:after {
	content:"\e16a";
}
.icon-nfc:after {
	content:"\e1bb";
}
.icon-no-encryption:after {
	content:"\e641";
}
.icon-no-sim:after {
	content:"\e0cc";
}
.icon-not-interested:after {
	content:"\e033";
}
.icon-note-add:after {
	content:"\e89c";
}
.icon-notifications:after {
	content:"\e7f4";
}
.icon-notifications-active:after {
	content:"\e7f7";
}
.icon-notifications-none:after {
	content:"\e7f5";
}
.icon-notifications-off:after {
	content:"\e7f6";
}
.icon-notifications-paused:after {
	content:"\e7f8";
}
.icon-offline-pin:after {
	content:"\e90a";
}
.icon-ondemand-video:after {
	content:"\e63a";
}
.icon-opacity:after {
	content:"\e91c";
}
.icon-open-in-browser:after {
	content:"\e89d";
}
.icon-open-in-new:after {
	content:"\e89e";
}
.icon-open-with:after {
	content:"\e89f";
}
.icon-pages:after {
	content:"\e7f9";
}
.icon-pageview:after {
	content:"\e8a0";
}
.icon-palette:after {
	content:"\e40a";
}
.icon-pan-tool:after {
	content:"\e925";
}
.icon-panorama:after {
	content:"\e40b";
}
.icon-panorama-fish-eye:after {
	content:"\e40c";
}
.icon-panorama-horizontal:after {
	content:"\e40d";
}
.icon-panorama-vertical:after {
	content:"\e40e";
}
.icon-panorama-wide-angle:after {
	content:"\e40f";
}
.icon-party-mode:after {
	content:"\e7fa";
}
.icon-pause:after {
	content:"\e034";
}
.icon-pause-circle-filled:after {
	content:"\e035";
}
.icon-pause-circle-outline:after {
	content:"\e036";
}
.icon-payment:after {
	content:"\e8a1";
}
.icon-people:after {
	content:"\e7fb";
}
.icon-people-outline:after {
	content:"\e7fc";
}
.icon-perm-camera-mic:after {
	content:"\e8a2";
}
.icon-perm-contact-calendar:after {
	content:"\e8a3";
}
.icon-perm-data-setting:after {
	content:"\e8a4";
}
.icon-perm-device-information:after {
	content:"\e8a5";
}
.icon-perm-identity:after {
	content:"\e8a6";
}
.icon-perm-media:after {
	content:"\e8a7";
}
.icon-perm-phone-msg:after {
	content:"\e8a8";
}
.icon-perm-scan-wifi:after {
	content:"\e8a9";
}
.icon-person:after {
	content:"\e7fd";
}
.icon-person-add:after {
	content:"\e7fe";
}
.icon-person-outline:after {
	content:"\e7ff";
}
.icon-person-pin:after {
	content:"\e55a";
}
.icon-person-pin-circle:after {
	content:"\e56a";
}
.icon-personal-video:after {
	content:"\e63b";
}
.icon-pets:after {
	content:"\e91d";
}
.icon-phone:after {
	content:"\e0cd";
}
.icon-phone-android:after {
	content:"\e324";
}
.icon-phone-bluetooth-speaker:after {
	content:"\e61b";
}
.icon-phone-forwarded:after {
	content:"\e61c";
}
.icon-phone-in-talk:after {
	content:"\e61d";
}
.icon-phone-iphone:after {
	content:"\e325";
}
.icon-phone-locked:after {
	content:"\e61e";
}
.icon-phone-missed:after {
	content:"\e61f";
}
.icon-phone-paused:after {
	content:"\e620";
}
.icon-phonelink:after {
	content:"\e326";
}
.icon-phonelink-erase:after {
	content:"\e0db";
}
.icon-phonelink-lock:after {
	content:"\e0dc";
}
.icon-phonelink-off:after {
	content:"\e327";
}
.icon-phonelink-ring:after {
	content:"\e0dd";
}
.icon-phonelink-setup:after {
	content:"\e0de";
}
.icon-photo:after {
	content:"\e410";
}
.icon-photo-album:after {
	content:"\e411";
}
.icon-photo-camera:after {
	content:"\e412";
}
.icon-photo-filter:after {
	content:"\e43b";
}
.icon-photo-library:after {
	content:"\e413";
}
.icon-photo-size-select-actual:after {
	content:"\e432";
}
.icon-photo-size-select-large:after {
	content:"\e433";
}
.icon-photo-size-select-small:after {
	content:"\e434";
}
.icon-picture-as-pdf:after {
	content:"\e415";
}
.icon-picture-in-picture:after {
	content:"\e8aa";
}
.icon-picture-in-picture-alt:after {
	content:"\e911";
}
.icon-pin-drop:after {
	content:"\e55e";
}
.icon-place:after {
	content:"\e55f";
}
.icon-play-arrow:after {
	content:"\e037";
}
.icon-play-circle-filled:after {
	content:"\e038";
}
.icon-play-circle-outline:after {
	content:"\e039";
}
.icon-play-for-work:after {
	content:"\e906";
}
.icon-playlist-add:after {
	content:"\e03b";
}
.icon-playlist-add-check:after {
	content:"\e065";
}
.icon-playlist-play:after {
	content:"\e05f";
}
.icon-plus-one:after {
	content:"\e800";
}
.icon-poll:after {
	content:"\e801";
}
.icon-polymer:after {
	content:"\e8ab";
}
.icon-pool:after {
	content:"\eb48";
}
.icon-portable-wifi-off:after {
	content:"\e0ce";
}
.icon-portrait:after {
	content:"\e416";
}
.icon-power:after {
	content:"\e63c";
}
.icon-power-input:after {
	content:"\e336";
}
.icon-power-settings-new:after {
	content:"\e8ac";
}
.icon-pregnant-woman:after {
	content:"\e91e";
}
.icon-present-to-all:after {
	content:"\e0df";
}
.icon-print:after {
	content:"\e8ad";
}
.icon-public:after {
	content:"\e80b";
}
.icon-publish:after {
	content:"\e255";
}
.icon-query-builder:after {
	content:"\e8ae";
}
.icon-question-answer:after {
	content:"\e8af";
}
.icon-queue:after {
	content:"\e03c";
}
.icon-queue-music:after {
	content:"\e03d";
}
.icon-queue-play-next:after {
	content:"\e066";
}
.icon-radio:after {
	content:"\e03e";
}
.icon-radio-button-checked:after {
	content:"\e837";
}
.icon-radio-button-unchecked:after {
	content:"\e836";
}
.icon-rate-review:after {
	content:"\e560";
}
.icon-receipt:after {
	content:"\e8b0";
}
.icon-recent-actors:after {
	content:"\e03f";
}
.icon-record-voice-over:after {
	content:"\e91f";
}
.icon-redeem:after {
	content:"\e8b1";
}
.icon-redo:after {
	content:"\e15a";
}
.icon-refresh:after {
	content:"\e5d5";
}
.icon-remove:after {
	content:"\e15b";
}
.icon-remove-circle:after {
	content:"\e15c";
}
.icon-remove-circle-outline:after {
	content:"\e15d";
}
.icon-remove-from-queue:after {
	content:"\e067";
}
.icon-remove-red-eye:after {
	content:"\e417";
}
.icon-reorder:after {
	content:"\e8fe";
}
.icon-repeat:after {
	content:"\e040";
}
.icon-repeat-one:after {
	content:"\e041";
}
.icon-replay:after {
	content:"\e042";
}
.icon-replay-10:after {
	content:"\e059";
}
.icon-replay-30:after {
	content:"\e05a";
}
.icon-replay-5:after {
	content:"\e05b";
}
.icon-reply:after {
	content:"\e15e";
}
.icon-reply-all:after {
	content:"\e15f";
}
.icon-report:after {
	content:"\e160";
}
.icon-report-problem:after {
	content:"\e8b2";
}
.icon-restaurant-menu:after {
	content:"\e561";
}
.icon-restore:after {
	content:"\e8b3";
}
.icon-ring-volume:after {
	content:"\e0d1";
}
.icon-room:after {
	content:"\e8b4";
}
.icon-room-service:after {
	content:"\eb49";
}
.icon-rotate-90-degrees-ccw:after {
	content:"\e418";
}
.icon-rotate-left:after {
	content:"\e419";
}
.icon-rotate-right:after {
	content:"\e41a";
}
.icon-rounded-corner:after {
	content:"\e920";
}
.icon-router:after {
	content:"\e328";
}
.icon-rowing:after {
	content:"\e921";
}
.icon-rv-hookup:after {
	content:"\e642";
}
.icon-satellite:after {
	content:"\e562";
}
.icon-save:after {
	content:"\e161";
}
.icon-scanner:after {
	content:"\e329";
}
.icon-schedule:after {
	content:"\e8b5";
}
.icon-school:after {
	content:"\e80c";
}
.icon-screen-lock-landscape:after {
	content:"\e1be";
}
.icon-screen-lock-portrait:after {
	content:"\e1bf";
}
.icon-screen-lock-rotation:after {
	content:"\e1c0";
}
.icon-screen-rotation:after {
	content:"\e1c1";
}
.icon-screen-share:after {
	content:"\e0e2";
}
.icon-sd-card:after {
	content:"\e623";
}
.icon-sd-storage:after {
	content:"\e1c2";
}
.icon-search:after {
	content:"\e8b6";
}
.icon-security:after {
	content:"\e32a";
}
.icon-select-all:after {
	content:"\e162";
}
.icon-send:after {
	content:"\e163";
}
.icon-settings:after {
	content:"\e8b8";
}
.icon-settings-applications:after {
	content:"\e8b9";
}
.icon-settings-backup-restore:after {
	content:"\e8ba";
}
.icon-settings-bluetooth:after {
	content:"\e8bb";
}
.icon-settings-brightness:after {
	content:"\e8bd";
}
.icon-settings-cell:after {
	content:"\e8bc";
}
.icon-settings-ethernet:after {
	content:"\e8be";
}
.icon-settings-input-antenna:after {
	content:"\e8bf";
}
.icon-settings-input-component:after {
	content:"\e8c0";
}
.icon-settings-input-composite:after {
	content:"\e8c1";
}
.icon-settings-input-hdmi:after {
	content:"\e8c2";
}
.icon-settings-input-svideo:after {
	content:"\e8c3";
}
.icon-settings-overscan:after {
	content:"\e8c4";
}
.icon-settings-phone:after {
	content:"\e8c5";
}
.icon-settings-power:after {
	content:"\e8c6";
}
.icon-settings-remote:after {
	content:"\e8c7";
}
.icon-settings-system-daydream:after {
	content:"\e1c3";
}
.icon-settings-voice:after {
	content:"\e8c8";
}
.icon-share:after {
	content:"\e80d";
}
.icon-shop:after {
	content:"\e8c9";
}
.icon-shop-two:after {
	content:"\e8ca";
}
.icon-shopping-basket:after {
	content:"\e8cb";
}
.icon-shopping-cart:after {
	content:"\e8cc";
}
.icon-short-text:after {
	content:"\e261";
}
.icon-shuffle:after {
	content:"\e043";
}
.icon-signal-cellular-4-bar:after {
	content:"\e1c8";
}
.icon-signal-cellular-connected-no-internet-4-bar:after {
	content:"\e1cd";
}
.icon-signal-cellular-no-sim:after {
	content:"\e1ce";
}
.icon-signal-cellular-null:after {
	content:"\e1cf";
}
.icon-signal-cellular-off:after {
	content:"\e1d0";
}
.icon-signal-wifi-4-bar:after {
	content:"\e1d8";
}
.icon-signal-wifi-4-bar-lock:after {
	content:"\e1d9";
}
.icon-signal-wifi-off:after {
	content:"\e1da";
}
.icon-sim-card:after {
	content:"\e32b";
}
.icon-sim-card-alert:after {
	content:"\e624";
}
.icon-skip-next:after {
	content:"\e044";
}
.icon-skip-previous:after {
	content:"\e045";
}
.icon-slideshow:after {
	content:"\e41b";
}
.icon-slow-motion-video:after {
	content:"\e068";
}
.icon-smartphone:after {
	content:"\e32c";
}
.icon-smoke-free:after {
	content:"\eb4a";
}
.icon-smoking-rooms:after {
	content:"\eb4b";
}
.icon-sms:after {
	content:"\e625";
}
.icon-sms-failed:after {
	content:"\e626";
}
.icon-snooze:after {
	content:"\e046";
}
.icon-sort:after {
	content:"\e164";
}
.icon-sort-by-alpha:after {
	content:"\e053";
}
.icon-spa:after {
	content:"\eb4c";
}
.icon-space-bar:after {
	content:"\e256";
}
.icon-speaker:after {
	content:"\e32d";
}
.icon-speaker-group:after {
	content:"\e32e";
}
.icon-speaker-notes:after {
	content:"\e8cd";
}
.icon-speaker-phone:after {
	content:"\e0d2";
}
.icon-spellcheck:after {
	content:"\e8ce";
}
.icon-star:after {
	content:"\e838";
}
.icon-star-border:after {
	content:"\e83a";
}
.icon-star-half:after {
	content:"\e839";
}
.icon-stars:after {
	content:"\e8d0";
}
.icon-stay-current-landscape:after {
	content:"\e0d3";
}
.icon-stay-current-portrait:after {
	content:"\e0d4";
}
.icon-stay-primary-landscape:after {
	content:"\e0d5";
}
.icon-stay-primary-portrait:after {
	content:"\e0d6";
}
.icon-stop:after {
	content:"\e047";
}
.icon-stop-screen-share:after {
	content:"\e0e3";
}
.icon-storage:after {
	content:"\e1db";
}
.icon-store:after {
	content:"\e8d1";
}
.icon-store-mall-directory:after {
	content:"\e563";
}
.icon-straighten:after {
	content:"\e41c";
}
.icon-strikethrough-s:after {
	content:"\e257";
}
.icon-style:after {
	content:"\e41d";
}
.icon-subdirectory-arrow-left:after {
	content:"\e5d9";
}
.icon-subdirectory-arrow-right:after {
	content:"\e5da";
}
.icon-subject:after {
	content:"\e8d2";
}
.icon-subscriptions:after {
	content:"\e064";
}
.icon-subtitles:after {
	content:"\e048";
}
.icon-supervisor-account:after {
	content:"\e8d3";
}
.icon-surround-sound:after {
	content:"\e049";
}
.icon-swap-calls:after {
	content:"\e0d7";
}
.icon-swap-horiz:after {
	content:"\e8d4";
}
.icon-swap-vert:after {
	content:"\e8d5";
}
.icon-swap-vertical-circle:after {
	content:"\e8d6";
}
.icon-switch-camera:after {
	content:"\e41e";
}
.icon-switch-video:after {
	content:"\e41f";
}
.icon-sync:after {
	content:"\e627";
}
.icon-sync-disabled:after {
	content:"\e628";
}
.icon-sync-problem:after {
	content:"\e629";
}
.icon-system-update:after {
	content:"\e62a";
}
.icon-system-update-alt:after {
	content:"\e8d7";
}
.icon-tab:after {
	content:"\e8d8";
}
.icon-tab-unselected:after {
	content:"\e8d9";
}
.icon-tablet:after {
	content:"\e32f";
}
.icon-tablet-android:after {
	content:"\e330";
}
.icon-tablet-mac:after {
	content:"\e331";
}
.icon-tag-faces:after {
	content:"\e420";
}
.icon-tap-and-play:after {
	content:"\e62b";
}
.icon-terrain:after {
	content:"\e564";
}
.icon-text-fields:after {
	content:"\e262";
}
.icon-text-format:after {
	content:"\e165";
}
.icon-textsms:after {
	content:"\e0d8";
}
.icon-texture:after {
	content:"\e421";
}
.icon-theaters:after {
	content:"\e8da";
}
.icon-thumb-down:after {
	content:"\e8db";
}
.icon-thumb-up:after {
	content:"\e8dc";
}
.icon-thumbs-up-down:after {
	content:"\e8dd";
}
.icon-time-to-leave:after {
	content:"\e62c";
}
.icon-timelapse:after {
	content:"\e422";
}
.icon-timeline:after {
	content:"\e922";
}
.icon-timer:after {
	content:"\e425";
}
.icon-timer-10:after {
	content:"\e423";
}
.icon-timer-3:after {
	content:"\e424";
}
.icon-timer-off:after {
	content:"\e426";
}
.icon-toc:after {
	content:"\e8de";
}
.icon-today:after {
	content:"\e8df";
}
.icon-toll:after {
	content:"\e8e0";
}
.icon-tonality:after {
	content:"\e427";
}
.icon-touch-app:after {
	content:"\e913";
}
.icon-toys:after {
	content:"\e332";
}
.icon-track-changes:after {
	content:"\e8e1";
}
.icon-traffic:after {
	content:"\e565";
}
.icon-transform:after {
	content:"\e428";
}
.icon-translate:after {
	content:"\e8e2";
}
.icon-trending-down:after {
	content:"\e8e3";
}
.icon-trending-flat:after {
	content:"\e8e4";
}
.icon-trending-up:after {
	content:"\e8e5";
}
.icon-tune:after {
	content:"\e429";
}
.icon-turned-in:after {
	content:"\e8e6";
}
.icon-turned-in-not:after {
	content:"\e8e7";
}
.icon-tv:after {
	content:"\e333";
}
.icon-unarchive:after {
	content:"\e169";
}
.icon-undo:after {
	content:"\e166";
}
.icon-unfold-less:after {
	content:"\e5d6";
}
.icon-unfold-more:after {
	content:"\e5d7";
}
.icon-update:after {
	content:"\e923";
}
.icon-usb:after {
	content:"\e1e0";
}
.icon-verified-user:after {
	content:"\e8e8";
}
.icon-vertical-align-bottom:after {
	content:"\e258";
}
.icon-vertical-align-center:after {
	content:"\e259";
}
.icon-vertical-align-top:after {
	content:"\e25a";
}
.icon-vibration:after {
	content:"\e62d";
}
.icon-video-library:after {
	content:"\e04a";
}
.icon-videocam:after {
	content:"\e04b";
}
.icon-videocam-off:after {
	content:"\e04c";
}
.icon-videogame-asset:after {
	content:"\e338";
}
.icon-view-agenda:after {
	content:"\e8e9";
}
.icon-view-array:after {
	content:"\e8ea";
}
.icon-view-carousel:after {
	content:"\e8eb";
}
.icon-view-column:after {
	content:"\e8ec";
}
.icon-view-comfy:after {
	content:"\e42a";
}
.icon-view-compact:after {
	content:"\e42b";
}
.icon-view-day:after {
	content:"\e8ed";
}
.icon-view-headline:after {
	content:"\e8ee";
}
.icon-view-list:after {
	content:"\e8ef";
}
.icon-view-module:after {
	content:"\e8f0";
}
.icon-view-quilt:after {
	content:"\e8f1";
}
.icon-view-stream:after {
	content:"\e8f2";
}
.icon-view-week:after {
	content:"\e8f3";
}
.icon-vignette:after {
	content:"\e435";
}
.icon-visibility:after {
	content:"\e8f4";
}
.icon-visibility-off:after {
	content:"\e8f5";
}
.icon-voice-chat:after {
	content:"\e62e";
}
.icon-voicemail:after {
	content:"\e0d9";
}
.icon-volume-down:after {
	content:"\e04d";
}
.icon-volume-mute:after {
	content:"\e04e";
}
.icon-volume-off:after {
	content:"\e04f";
}
.icon-volume-up:after {
	content:"\e050";
}
.icon-vpn-key:after {
	content:"\e0da";
}
.icon-vpn-lock:after {
	content:"\e62f";
}
.icon-wallpaper:after {
	content:"\e1bc";
}
.icon-warning:after {
	content:"\e002";
}
.icon-watch:after {
	content:"\e334";
}
.icon-watch-later:after {
	content:"\e924";
}
.icon-wb-auto:after {
	content:"\e42c";
}
.icon-wb-cloudy:after {
	content:"\e42d";
}
.icon-wb-incandescent:after {
	content:"\e42e";
}
.icon-wb-iridescent:after {
	content:"\e436";
}
.icon-wb-sunny:after {
	content:"\e430";
}
.icon-wc:after {
	content:"\e63d";
}
.icon-web:after {
	content:"\e051";
}
.icon-web-asset:after {
	content:"\e069";
}
.icon-weekend:after {
	content:"\e16b";
}
.icon-whatshot:after {
	content:"\e80e";
}
.icon-widgets:after {
	content:"\e1bd";
}
.icon-wifi:after {
	content:"\e63e";
}
.icon-wifi-lock:after {
	content:"\e1e1";
}
.icon-wifi-tethering:after {
	content:"\e1e2";
}
.icon-work:after {
	content:"\e8f9";
}
.icon-wrap-text:after {
	content:"\e25b";
}
.icon-youtube-searched-for:after {
	content:"\e8fa";
}
.icon-zoom-in:after {
	content:"\e8ff";
}
.icon-zoom-out:after {
	content:"\e900";
}
.icon-zoom-out-map:after {
	content:"\e56b";
}
.bank-control {
	min-height:1.687em;
	vertical-align:middle;
	text-align:left;
	position:relative;
}
.bank-control label {
	display:inline-block;
	font-weight:bold;
	font-family:"Gill Sans MT", "Calibri", "sans-serif";
	line-height:27px;
}
.bank-control .input {
	border:1px solid rgba(33,33,33,0.3);
	border-radius:2px;
	background-color:#FFFFFF;
	padding:6px 7px;
	vertical-align:middle;
	position:relative;
	box-shadow:0px 0px 1px rgba(33,33,33,0.3) inset;
	transition-duration:0.3s;
	margin-top:-1px;
	display:inline-block;
	width:100%;
	font-family:inherit;
	font-size:.83em;
}
.bank-control .input:focus, .bank-control .input:hover {
	border:1px solid #66AFE9;
	box-shadow:0px 0px 1px rgba(33,33,33,0.3) inset, 0px 0px 3px rgba(102,175,233,0.6);
}
.bank-control.invalid-data:after {
	content:attr(data-validation-message);
	font-size:0.8em;
	color:#FF0000;
}
.bank-control.invalid-data .input {
	border:1px solid #FF0000;
	box-shadow:0 0 1px rgba(255,0,0,0.6)inset;
}
.bank-control.invalid-data .input.hover {
	border:1px solid #9600FF;
	box-shadow:0 0 1px rgba(150,0,255,0.6);
}
.bank-control.data-type-currency input {
	padding-left:calc(1em + 6px);
}
.bank-control.data-type-currency:before {
	content:"$";
	position:absolute;
	display:inline-block;
	margin:5px 6px;
	z-index:2;
}
.bank-control-select-ul {
	border:1px solid black;
	border-radius:2px;
	background-color:#FFFFFF;
	list-style:outside none none;
	padding:0;
	margin:0;
	cursor:pointer;
	box-sizing:border-box;
	box-shadow:2px 2px 0px rgba(0, 0, 0, 0.3);
	z-index:900;
}
.bank-control-select-li {
	padding:3px 5px;
}
.bank-control-select-li:before {
	content:"";
	display:inline-block;
}
.bank-control-select-li.hover {
	background-color:rgba(255,82,82,0.1);
}
.bank-control.data-type-dropdown .dropdown-icon {
	position:absolute;
	right:0;
	margin:.1em .1em 1.6em .1em;
	cursor:pointer;
	transition-duration:.3s;
}
.bank-control.data-type-dropdown .dropdown-icon, .bank-control.data-type-dropdown input {
	cursor:pointer;
}
.bank-control.data-type-dropdown.hover .dropdown-icon {
	color:#66AFE9;
}
.bank-control-textarea textarea {
	resize:none;
	overflow:hidden;
	min-height:4em;
}
.bank-control-button span {
	font-size:.83em;
}
.bank-control-buttonset {
}
.bank-control-buttonset input {
	display:none;
}
@font-face {
	font-family: "Material Icons";
	src: local("Material Icons"), local("MaterialIcons-Regular"), url(resources/MaterialIcons-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
